<span *transloco="let t">
  <form novalidate [formGroup]="territoryForm">
    <div class="d-flex justify-content-between mb-2">
      <div class="d-flex align-items-center">
        <a
          class="me-2"
          color="primary"
          mat-raised-button
          [disabled]="!markerRef.length || polygonExists()"
          (click)="removeLastMarker()">
          {{ t('MAP_CREATE_DELETE_LAST_MARKER') }}
          <mat-icon class="ms-1" svgIcon="mapmarker"></mat-icon>
        </a>
        <div
          [matTooltip]="t('MAP_CREATE_CREATE_POLYGON_TOOLTIP')"
          [matTooltipDisabled]="!isCreatePolygonBtnDisabled()">
          <a
            class="me-2"
            color="primary"
            mat-raised-button
            [disabled]="isCreatePolygonBtnDisabled()"
            (click)="createPolygon()"
            >{{ t('MAP_CREATE_CREATE_POLYGON') }}</a
          >
        </div>
        <a mat-raised-button [disabled]="!polygonExists()" (click)="removePolygon()">{{
          t('MAP_CREATE_REMOVE_POLYGON')
        }}</a>
      </div>
      <div class="d-flex align-items-center">
        <mat-checkbox class="me-4" color="primary" formControlName="available">{{
          t('TERRITORY_AVAILABLE')
        }}</mat-checkbox>
        <a
          color="warn"
          mat-raised-button
          [disabled]="!territoryForm.controls.participants.value.length"
          [matTooltip]="t('MAP_CLEAR_HISTORY')"
          (click)="clearHistory()"
          >{{ t('MAP_CREATE_CLEAR_HISTORY') }}</a
        >
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <mat-form-field>
          <mat-label>{{ t('PLACEHOLDER_NAME') }}</mat-label>
          <input
            #terrNameInput
            formControlName="name"
            matInput
            spellcheck="false"
            [appautofocus]="isUpdate ? false : true" />
          <mat-hint class="fst-italic">{{ t('PLACEHOLDER_NAME_UNIQUE') }}</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>{{ t('TERRITORY_GROUP_LABEL') }}</mat-label>
          <mat-select
            multiple
            required
            [disableRipple]="true"
            [formControl]="territoryForm.controls.groups">
            @for (tg of territoryGroups; track tg) {
              <mat-option [value]="tg.id">
                {{ tg.name }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row mb-2">
      <div class="col-6">
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>{{ t('TERRITORY_PARTICIPANT_LABEL') }}</mat-label>
          <mat-select
            [disableRipple]="true"
            [value]="temporalParticipant || selectedParticipant"
            (selectionChange)="onParticipantSelect($event)">
            @for (p of participants; track p) {
              <mat-option [value]="p.id">
                {{ p.name }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-6">
        <mat-form-field subscriptSizing="dynamic">
          <mat-label>{{ t('TERRITORY_MEETING_POINT') }}</mat-label>
          <mat-icon matPrefix svgIcon="inputlink"></mat-icon>
          <input formControlName="meetingPointUrl" matInput spellcheck="false" />
        </mat-form-field>
      </div>
    </div>
  </form>
  <div class="d-flex align-items-center">
    <button mat-icon-button [disabled]="!polygonExists()" (click)="toClipboard()">
      <mat-icon aria-label="icon" svgIcon="clipboard" [matTooltip]="t('ICON_CLIPBOARD')"></mat-icon>
    </button>
    <button
      class="me-5"
      mat-icon-button
      [disabled]="!polygonExists()"
      (click)="toPng(territoryForm.controls.name.value)">
      <mat-icon aria-label="icon" svgIcon="png" [matTooltip]="t('ICON_PNG')"></mat-icon>
    </button>
    <label class="me-3" for="image-upload">
      <mat-icon svgIcon="imageadd" [matTooltip]="t('TERRITORY_ADD_IMAGE')"></mat-icon>
    </label>
    <input id="image-upload" type="file" (change)="uploadImageFile($event)" />
    <label>
      @if (territoryForm.controls.imageId.value || territoryForm.controls.image.value) {
        <mat-icon
          svgIcon="imageremove"
          [matTooltip]="t('TERRITORY_REMOVE_IMAGE')"
          (click)="removeImage()"></mat-icon>
      }
    </label>
  </div>
  <!-- The reference for leaflet to load the map -->
  <!-- its map2 because on router navigation from heatmap its not displayed as it should be -->
  <div
    class="mb-2"
    id="map2"
    [attr.hidden]="
      territoryForm.controls.image.value || territoryForm.controls.imageId.value
    "></div>
  <div>
    @if (imageExists() || imagePersisted()) {
      <img alt="Image preview" class="mb-2" id="imageDiv" [src]="getImagePath()" />
    }
  </div>
  <button class="me-3" mat-raised-button type="button" (click)="goBack()">
    {{ t('BUTTON_CANCEL') }}
  </button>
  <button
    color="primary"
    mat-raised-button
    type="button"
    [disabled]="territoryForm.invalid || (netStatusOffline$ | async)"
    (click)="save()">
    {{ isUpdate ? t('BUTTON_UPDATE') : t('BUTTON_SAVE') }}
    @if (netStatusOffline$ | async) {
      <mat-icon svgIcon="nowifi"></mat-icon>
    }
  </button>
  @if (!isUpdate) {
    <button
      color="accent"
      mat-raised-button
      type="button"
      [disabled]="territoryForm.invalid || (netStatusOffline$ | async)"
      (click)="save(true)">
      {{ t('BUTTON_SAVE_CREATE_ANOTHER') }}
      @if (netStatusOffline$ | async) {
        <mat-icon svgIcon="nowifi"></mat-icon>
      }
    </button>
  }
</span>
