<form *transloco="let t" [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
  <h3>
    {{ isUpdate ? t("NOTE_UPDATE_TITLE") : t("NOTE_CREATE_TITLE") }}
  </h3>

  <mat-form-field>
    <mat-label>{{ t("PLACEHOLDER_NAME") }}</mat-label>
    <input
      matInput
      [appautofocus]="isUpdate ? false : true"
      spellcheck="false"
      formControlName="name"
    />
  </mat-form-field>
  <div class="col-12">
    <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"> </ngx-editor-menu>
    <ngx-editor spellcheck="false" [editor]="editor" formControlName="editorContent">
    </ngx-editor>
  </div>
  <div class="mt-3">
    <button
      class="me-3"
      mat-raised-button
      type="button"
      [routerLink]="isUpdate ? '../..' : '..'"
    >
      {{ t("BUTTON_CANCEL") }}
    </button>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
      {{ isUpdate ? t("BUTTON_UPDATE") : t("BUTTON_SAVE") }}
    </button>
  </div>
</form>
