<mat-icon
  class="m-3"
  svgIcon="pdf"
  aria-label="icon"
  (click)="toPdf()"
></mat-icon>

<div id="resultListDiv" style="width: 25rem">
  <div class="row white-base-background" *ngFor="let ag of assignmentGroup">
    <div class="col-12 mb-2 bold double-font">
      {{ ag.date | translocoDate: { dateStyle: "long" } }}
    </div>
    <div *ngFor="let assignment of ag.assignments" class="col-12 mb-1">
      <div class="row justify-content-center">
        <div class="col-12 bold increase-font">
          {{ assignment.theme }}
          <span *ngIf="!assignment.theme">{{ assignment.assignType }}</span>
        </div>
        <div class="col-11 mb-1 increase-font">
          • {{ assignment.principal }}
          <span *ngIf="assignment.assistant">/ {{ assignment.assistant }}</span>
        </div>
      </div>
    </div>
  </div>
  <hr />
</div>
