<div class="d-flex">
  <button class="m-2" mat-raised-button type="button" routerLink="..">
    {{ "BUTTON_CANCEL" | transloco }}
  </button>
  <mat-icon
    class="m-2"
    svgIcon="pdf"
    aria-label="icon"
    (click)="toPdf()"
  ></mat-icon>
  <mat-icon
    class="m-2"
    svgIcon="pdfblue"
    aria-label="icon"
    (click)="toPdfForPrint()"
  ></mat-icon>
  <mat-icon
    class="m-2"
    svgIcon="png"
    aria-label="icon"
    (click)="toPng()"
  ></mat-icon>
  <mat-icon
    class="m-2"
    svgIcon="excel"
    aria-label="icon"
    (click)="toExcel()"
  ></mat-icon>
</div>

<div id="toPngDivId" style="width: 40rem" class="bg-color-white">
  <ng-container *ngFor="let ag of assignmentGroups; index as i">
    <table [id]="'table' + i">
      <tr>
        <th
          class="bold"
          [style.background]="defaultReportDateColor"
          [style.fontSize]="defaultReportFontSize"
        >
          {{
            ag.date
              | translocoDate
                : {
                    dateStyle: defaultReportDateFormat
                  }
          }}
        </th>
        <th
          [style.background]="defaultReportDateColor"
          [style.fontSize]="defaultReportFontSize"
        >
          {{ ag.roomName }}
        </th>
      </tr>
      <tr *ngFor="let assignment of ag.assignments">
        <!-- td id is to find assignType later, not always has name, sometimes has theme -->
        <td
          [id]="assignment.assignType.id"
          class="bold me-3"
          [style.background]="
            assignTypeService.getAssignType(assignment.assignType.id).color
          "
          [style.fontSize]="defaultReportFontSize"
        >
          <div>{{ assignment.theme }}</div>
          <span *ngIf="!assignment.theme">{{
            assignment.assignType.name
          }}</span>
        </td>
        <td [style.fontSize]="defaultReportFontSize">
          {{ assignment.principal.name
          }}<span *ngIf="assignment.assistant">
            / <br />
            {{ assignment.assistant.name }}</span
          >
        </td>
      </tr>
    </table>
  </ng-container>
</div>
