.bg-color-white {
  background-color: white;
}

.bg-color-lightgray {
  background-color: lightgray;
}

.bg-color-lightskyblue {
  background-color: lightskyblue;
}

.bg-color-lightskyblue2 {
  background-color: rgb(172, 221, 251);
}

.bg-color-lightyellow {
  background-color: lightyellow;
}

.bg-color-lightcoral {
  background-color: lightcoral;
}

.bg-color-lightcoral2 {
  background-color: rgb(238, 168, 168);
}

.bg-color-lightgreen {
  background-color: lightgreen;
}
