.bg-color-white {
  background-color: white;
}

.bg-color-lightgray {
  background-color: lightgray;
}

.bg-color-lightskyblue {
  background-color: lightskyblue;
}

.bg-color-lightyellow {
  background-color: lightyellow;
}

.bg-color-lightcoral {
  background-color: lightcoral;
}

.bg-color-lightgreen {
  background-color: lightgreen;
}
