@use "@angular/material" as mat;
@include mat.core();

$theme: mat.define-light-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$deep-purple-palette,
    ),
    typography: (
      brand-family: "Noto Sans, Noto Sans JP, Noto Sans KR, Noto Sans SC, sans-serif",
    ),
    density: (
      scale: 0,
    ),
  )
);

html {
  // Apply the theme by default
  @include mat.core-theme($theme);
}
