<span *transloco="let t">
  <div class="d-flex align-items-center">
    <button
      mat-raised-button
      class="mb-2 me-3"
      color="primary"
      routerLink="create"
      routerLinkActive="active"
    >
      {{ t("PARTICIPANT_BUTTON_TITLE") }}
    </button>
    <button
      *ngIf="participants.length"
      mat-raised-button
      class="mb-2 me-3"
      color="accent"
      routerLink="create-from"
      routerLinkActive="active"
    >
      {{ t("PARTICIPANT_COPY_BUTTON_TITLE") }}
    </button>
    <mat-checkbox
      class="mb-2 me-3"
      labelPosition="before"
      color="primary"
      (change)="toggleExternals($event)"
      >{{ t("PARTICIPANT_SHOW_EXTERNAL") }}</mat-checkbox
    >
    <mat-icon
      *ngIf="participants.length"
      class="mb-2"
      svgIcon="assigntypeavailable"
      routerLink="assigntypeavailable"
      [matTooltip]="t('PARTICIPANT_AVAILABLE_LIST')"
      routerLinkActive="active"
    ></mat-icon>
  </div>
  <div *ngIf="participants.length" class="mb-2">
    {{ t("PARTICIPANT_TOTAL_PARTICIPANTS") }}: {{ participants.length }}
  </div>

  <div *ngIf="participants.length" class="table-overflow">
    <div class="grid">
      <div class="grid-header-item fw-bold">
        {{ t("PARTICIPANT_TABLE_HEADER_PRINCIPAL") }}
      </div>
      <div class="grid-header-item fw-bold">
        {{ t("PARTICIPANT_TABLE_HEADER_GROUP") }}
      </div>
      <div class="grid-header-item fw-bold">
        {{ t("PARTICIPANT_TABLE_HEADER_EDIT") }}
      </div>
      <div class="grid-header-item fw-bold">
        {{ t("PARTICIPANT_TABLE_HEADER_DELETE") }}
      </div>
      <ng-container *ngFor="let p of participants">
        <div class="grid-row">
          <div class="grid-item d-flex align-items-center">
            {{ p.name }}
          </div>
          <div class="grid-item d-flex align-items-center">
            {{ p.group }}
          </div>
          <div class="grid-item d-flex align-items-center">
            <mat-icon
              [routerLink]="['update', p.id]"
              routerLinkActive="active"
              svgIcon="edit"
              aria-label="Side nav toggle icon"
            ></mat-icon>
          </div>
          <div class="grid-item d-flex align-items-center">
            <mat-icon
              [routerLink]="['delete', p.id]"
              routerLinkActive="active"
              svgIcon="garbage"
              aria-label="Side nav toggle icon"
            ></mat-icon>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</span>
