<ng-container *ngIf="dataSource">
  <div class="d-flex align-items-baseline">
    <button
      mat-raised-button
      class="m-3"
      color="primary"
      routerLink="create"
      routerLinkActive="active"
    >
      {{ "PARTICIPANT_BUTTON_TITLE" | transloco }}
    </button>
    <div class="m-3">
      <mat-checkbox
        labelPosition="before"
        color="primary"
        (change)="toggleParticipants($event)"
        >{{ "PARTICIPANT_SHOW_EXTERNAL" | transloco }}</mat-checkbox
      >
    </div>
  </div>
  <table
    id="tableDiv"
    *ngIf="dataSource.length"
    mat-table
    [trackBy]="trackByIdFn"
    [dataSource]="dataSource"
    class="mt-2 mat-elevation-z8"
  >
    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- principal Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        {{ "PARTICIPANT_TABLE_HEADER_PRINCIPAL" | transloco }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- editIcon Column -->
    <ng-container matColumnDef="editIcon">
      <th mat-header-cell *matHeaderCellDef>
        {{ "PARTICIPANT_TABLE_HEADER_EDIT" | transloco }}
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
          class="m-auto"
          [routerLink]="['update', element.id]"
          routerLinkActive="active"
          svgIcon="edit"
          aria-label="Side nav toggle icon"
        ></mat-icon>
      </td>
    </ng-container>

    <!-- deleteIcon Column -->
    <ng-container matColumnDef="deleteIcon">
      <th mat-header-cell *matHeaderCellDef>
        {{ "PARTICIPANT_TABLE_HEADER_DELETE" | transloco }}
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-icon
          class="m-auto"
          [routerLink]="['delete', element.id]"
          routerLinkActive="active"
          svgIcon="garbage"
          aria-label="Side nav toggle icon"
        ></mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let element; let even = even; columns: displayedColumns"
    ></tr>
  </table>
</ng-container>
