#actionBar {
  background-color: inherit;
}

#pdfAcronim {
  cursor: pointer;
}

.border-bottom {
  border-bottom: 2px solid gray;
}

.font-15 {
  font-size: 15px;
}

.copied {
  background-color: white;
  padding: 10px;
  border: 2px solid lightgreen;
  border-radius: 5px;
}

.mat-icon {
  height: 32px;
  width: 32px;
}

@media print {
  body::-webkit-scrollbar {
    display: none;
  }
}
