<div class="row">
  <div class="col-12">
    <table
      id="assignmentTableId"
      class="ms-2 bg-color-white"
      style="width: 23rem"
    >
      <tr>
        <th>
          <div *ngIf="!assignmentHeaderTitle" class="mt-1 mb-1 border-bottom">
            {{ "ASSIGN_IMAGE_TITLE" | transloco }}
          </div>
          <div *ngIf="assignmentHeaderTitle" class="mt-1 mb-1 border-bottom">
            {{ assignmentHeaderTitle }}
          </div>
        </th>
      </tr>
      <tr>
        <td class="bold">
          <span *ngIf="!assignmentPrincipalTitle" class="ms-2 mb-1">{{
            "ASSIGN_IMAGE_NAME" | transloco
          }}</span>
          <span *ngIf="assignmentPrincipalTitle" class="ms-2 mb-1">{{
            assignmentPrincipalTitle
          }}</span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="ms-2 mb-1">{{ principalName }} </span>
        </td>
      </tr>
      <tr *ngIf="assistantName">
        <td class="bold">
          <span *ngIf="!assignmentAssistantTitle" class="ms-2 mb-1">{{
            "ASSIGN_IMAGE_ASSISTANT" | transloco
          }}</span>
          <span *ngIf="assignmentAssistantTitle" class="ms-2 mb-1">{{
            assignmentAssistantTitle
          }}</span>
        </td>
      </tr>
      <tr *ngIf="assistantName">
        <td>
          <span class="ms-2 mb-1">{{ assistantName }}</span>
        </td>
      </tr>
      <tr>
        <td class="bold">
          <span *ngIf="!assignmentDateTitle" class="ms-2 mb-1">{{
            "ASSIGN_IMAGE_DATE" | transloco
          }}</span>
          <span *ngIf="assignmentDateTitle" class="ms-2 mb-1">{{
            assignmentDateTitle
          }}</span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="ms-2 mb-1">
            {{ date | translocoDate: { dateStyle: "long" } }}
          </span>
        </td>
      </tr>
      <tr>
        <td class="bold">
          <span *ngIf="!assignmentAssignTypeTitle" class="ms-2 mb-1">{{
            "ASSIGN_IMAGE_ASSIGNTYPE" | transloco
          }}</span>
          <span *ngIf="assignmentAssignTypeTitle" class="ms-2 mb-1">{{
            assignmentAssignTypeTitle
          }}</span>
        </td>
      </tr>
      <tr>
        <td><span class="ms-2 mb-1"></span>{{ assignTypeName }}</td>
      </tr>
      <tr *ngIf="theme">
        <td class="bold">
          <div *ngIf="!assignmentThemeTitle" class="ms-2 mb-1">
            {{ "ASSIGN_IMAGE_NOTE" | transloco }}
          </div>
          <div *ngIf="assignmentThemeTitle" class="ms-2 mb-1">
            {{ assignmentThemeTitle }}
          </div>
        </td>
      </tr>
      <tr *ngIf="theme">
        <td>
          <div class="ms-2 mb-1">{{ theme }}</div>
        </td>
      </tr>
      <tr>
        <td class="bold">
          <span *ngIf="!assignmentRoomTitle" class="ms-2 mb-1">{{
            "ASSIGN_IMAGE_ROOM_PRESENTATION" | transloco
          }}</span>
          <span *ngIf="assignmentRoomTitle" class="ms-2 mb-1">{{
            assignmentRoomTitle
          }}</span>
        </td>
      </tr>
      <tr>
        <td>
          <span class="ms-2 mb-1">{{ roomName }}</span>
        </td>
      </tr>
      <tr *ngIf="footerNoteEditorHTML">
        <td class="bold">
          <span *ngIf="!assignmentNoteTitle" class="ms-2 mb-1">{{
            "ASSIGN_IMAGE_FOOTER_NOTE" | transloco
          }}</span>
          <span *ngIf="assignmentNoteTitle" class="ms-2 mb-1">{{
            assignmentNoteTitle
          }}</span>
        </td>
      </tr>
      <tr *ngIf="footerNoteEditorHTML">
        <td>
          <div
            class="ms-2 mb-1 text-justify"
            [innerHTML]="footerNoteEditorHTML"
          ></div>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-12 d-print-none">
    <div class="d-flex app-align-items-center">
      <button class="m-2" mat-raised-button type="button" routerLink="../..">
        {{ "BUTTON_CANCEL" | transloco }}
      </button>
      <button
        class="m-2"
        mat-raised-button
        type="button"
        color="primary"
        (click)="copyImageToClipboard()"
      >
        {{ "BUTTON_COPY" | transloco }}
      </button>
      <mat-icon
        class="m-2"
        svgIcon="pdf"
        aria-label="icon"
        (click)="toPdf()"
      ></mat-icon>
      <mat-icon
        class="m-2"
        svgIcon="png"
        aria-label="icon"
        (click)="toPng()"
      ></mat-icon>
    </div>
  </div>
  <div class="col-12 col-md-5 col-xl-12">
    <p id="copiedId" class="m-2 d-inline-block" *ngIf="copied">
      {{ "ASSIGN_IMAGE_COPIED" | transloco }}
    </p>
  </div>
</div>
