#actionBar {
  background-color: inherit;
}

.border-bottom {
  border-bottom: 1px solid black;
}

#copiedId {
  background-color: white;
  padding: 10px;
  border: 2px solid lightgreen;
  border-radius: 5px;
}

.mat-icon {
  height: 32px;
  width: 32px;
}

@media print {
  body::-webkit-scrollbar {
    display: none;
  }
}
