<div class="row white-base-background m-3">
  <div class="col-12 g-0">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3 class="m-3">
              {{ "STATISTICS_COUNT_PRINCIPAL_TITLE" | transloco }}
            </h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row m-3 align-items-center">
          <div class="col-3">
            <mat-checkbox color="primary" (change)="changeWoman($event)">{{
              "STATISTICS_ONLY_WOMAN" | transloco
            }}</mat-checkbox>
          </div>
          <div class="col-3">
            <mat-checkbox color="primary" (change)="changeMan($event)">{{
              "STATISTICS_ONLY_MAN" | transloco
            }}</mat-checkbox>
          </div>

          <div class="col-2">
            <mat-icon
              svgIcon="png"
              aria-label="icon"
              (click)="toPng()"
            ></mat-icon>
          </div>
        </div>
        <div id="toPngDivId" class="white-base-background m-3">
          <div class="row m-3">
            <div class="col-2">
              <b> {{ "STATISTICS_NAME" | transloco }}</b>
            </div>
            <div class="col-2">
              <b>{{ "STATISTICS_COUNT" | transloco }}</b>
            </div>
            <div class="col-2">
              <b>{{ "STATISTICS_PENULTIMA" | transloco }}</b>
            </div>
            <div class="col-2">
              <b>{{ "STATISTICS_LAST" | transloco }}</b>
            </div>
            <div class="col-4">
              <b>{{ "STATISTICS_DISTANCE" | transloco }}</b>
            </div>
          </div>
          <div class="row m-3" *ngFor="let participant of principalList">
            <div class="col-2">
              {{ participant.name }}
            </div>
            <div class="col-2">
              {{ participant.count }}
            </div>
            <div class="col-2">
              {{
                participant.penultimateAssignmentDate
                  | translocoDate: { dateStyle: "medium" }
              }}
              - {{ participant.penultimateAssignType }}
            </div>
            <div class="col-2">
              {{
                participant.lastAssignmentDate
                  | translocoDate: { dateStyle: "medium" }
              }}
              - {{ participant.lastAssignType }}
            </div>
            <div class="col-4">
              {{ participant.distanceBetweenPenultimaAndLast }}
            </div>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
