<form *transloco="let t" [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title
        >{{ this.isUpdate ? t("ASSIGNTYPE_UPDATE_TITLE") : t("ASSIGNTYPE_CREATE_TITLE") }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-12">
          <mat-form-field>
            <mat-label>{{ t("PLACEHOLDER_NAME") }}</mat-label>
            <input
              matInput
              [appautofocus]="isUpdate ? false : true"
              spellcheck="false"
              formControlName="name"
            />
          </mat-form-field>
        </div>
        <div class="row justify-content-start align-items-center">
          <div class="col-auto">
            <mat-form-field>
              <mat-label>{{ t("PLACEHOLDER_ORDER") }}</mat-label>
              <input matInput type="number" formControlName="order" />
            </mat-form-field>
          </div>
          <div class="col-auto">
            <mat-label class="me-3">{{ t("ASSIGNTYPE_COLOR") }}</mat-label>
            <input type="color" formControlName="color" />
          </div>
          <div class="col-auto">
            <button
              mat-raised-button
              *ngIf="colors.length"
              color="primary"
              type="button"
              [matTooltip]="t('BUTTON_SHOW_AVAILABLE_COLORS_TOOLTIP')"
              (click)="showColors = !showColors"
            >
              {{
                showColors
                  ? t("BUTTON_HIDE_AVAILABLE_COLORS")
                  : t("BUTTON_SHOW_AVAILABLE_COLORS")
              }}
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="d-flex" *ngIf="showColors">
              <ng-container *ngFor="let c of colors">
                <span class="square me-1" [style]="getBgColor(c)"></span>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-start">
        <div class="col-auto">
          <mat-checkbox
            labelPosition="before"
            color="primary"
            formControlName="hasAssistant"
            >{{ t("ASSIGNTYPE_HAS_ASSISTANT") }}</mat-checkbox
          >
        </div>
        <div class="col-auto">
          <mat-checkbox labelPosition="before" color="primary" formControlName="repeat">{{
            t("ASSIGNTYPE_REPEAT")
          }}</mat-checkbox>
        </div>
        <div class="col-auto">
          <mat-checkbox
            labelPosition="before"
            color="primary"
            formControlName="isPublicSpeech"
            >{{ t("ASSIGNTYPE_PUBLICSPEECH") }}</mat-checkbox
          >
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        type="button"
        class="me-3"
        [routerLink]="isUpdate ? '../..' : '..'"
      >
        {{ t("BUTTON_CANCEL") }}
      </button>
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
        {{ isUpdate ? t("BUTTON_UPDATE") : t("BUTTON_SAVE") }}
      </button>
    </mat-card-actions>
  </mat-card>
</form>
