<form [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title
        >{{
          (this.isUpdate
            ? "ASSIGNTYPE_UPDATE_TITLE"
            : "ASSIGNTYPE_CREATE_TITLE"
          ) | transloco
        }}
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-12">
          <mat-form-field>
            <mat-label>{{ "PLACEHOLDER_NAME" | transloco }}</mat-label>
            <input
              matInput
              appautofocus
              spellcheck="false"
              formControlName="name"
            />
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-form-field>
            <mat-label>{{ "PLACEHOLDER_ORDER" | transloco }}</mat-label>
            <input matInput type="number" formControlName="order" />
          </mat-form-field>
        </div>
        <div class="col-6">
          <mat-label class="me-3">{{
            "PLACEHOLDER_COLOR" | transloco
          }}</mat-label>
          <input type="color" formControlName="color" />
        </div>
        <div class="col-6">
          <mat-checkbox
            labelPosition="before"
            color="primary"
            formControlName="hasAssistant"
            >{{ "ASSIGNTYPE_HAS_ASSISTANT" | transloco }}</mat-checkbox
          >
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        type="button"
        class="me-3"
        [routerLink]="isUpdate ? '../..' : '..'"
      >
        {{ "BUTTON_CANCEL" | transloco }}
      </button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="form.invalid"
      >
        {{ (isUpdate ? "BUTTON_UPDATE" : "BUTTON_SAVE") | transloco }}
      </button>
    </mat-card-actions>
  </mat-card>
</form>
