<form [formGroup]="selectionForm" novalidate>
  <div class="row">
    <div class="col-5">
      <mat-form-field appearance="fill">
        <mat-label>{{ "ASSIGN_SELECTION_RANGE_TITLE" | transloco }}</mat-label>
        <mat-date-range-input [rangePicker]="picker">
          <input
            matStartDate
            formControlName="startDate"
            placeholder="Start date"
          />
          <input matEndDate formControlName="endDate" placeholder="End date" />
        </mat-date-range-input>
        <mat-hint>{{ "ASSIGN_SELECTION_RANGE_HINT" | transloco }}</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-date-range-picker #picker></mat-date-range-picker>

        <mat-error
          *ngIf="
            selectionForm.controls.startDate.hasError('matStartDateInvalid')
          "
          >Invalid start date</mat-error
        >
        <mat-error
          *ngIf="selectionForm.controls.endDate.hasError('matEndDateInvalid')"
          >Invalid end date</mat-error
        >
      </mat-form-field>
    </div>
    <div class="col-5">
      <mat-form-field>
        <mat-label>{{
          "ASSIGN_SELECTION_ASSIGNTYPES_SELECT_TITLE" | transloco
        }}</mat-label>
        <mat-select #assignTypesSelect formControlName="assignTypes" multiple>
          <mat-option
            *ngFor="let assignType of assignTypes"
            [value]="assignType.id"
            >{{ assignType.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</form>

<div class="row">
  <div class="col">
    <app-selection-list
      *ngIf="selectionForm.controls.endDate.value"
      [startDate]="selectionForm.controls.startDate.value"
      [endDate]="selectionForm.controls.endDate.value"
      [assignTypes]="selectionForm.controls.assignTypes.value"
    ></app-selection-list>
  </div>
</div>
