.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  box-sizing: border-box;
  align-items: center;
  & > div {
    height: 100%;
  }
  color: black; //to override the one of the card
}
