<ng-container *transloco="let t">
  <div mat-dialog-title class="d-flex align-items-center justify-content-start">
    <mat-icon class="me-3" svgIcon="warning" aria-label="icon"></mat-icon>
    <span>{{ t('WARNING_ASSIGNMENT_SAME_DAY') }}</span>
  </div>
  <div class="px-1">
    <hr />
  </div>
  <div mat-dialog-content>
    <div class="grid">
      <ul>
        @for (message of data; track message) {
          <li>
            {{ message }}
          </li>
        }
      </ul>
    </div>
  </div>
</ng-container>
