<ng-container *transloco="let t">
  <div mat-dialog-title class="d-flex align-items-baseline justify-content-start">
    <mat-icon class="me-3" svgIcon="warning" aria-label="icon"></mat-icon>
    <span>{{ t("WARNING_ASSIGNMENT_SAME_DAY") }}</span>
  </div>
  <div class="px-1">
    <hr />
  </div>

  <div mat-dialog-content>
    <div class="grid">
      <ul>
        <ng-container *ngFor="let message of data">
          <li>
            {{ message }}
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</ng-container>
