<div *ngIf="globalList" class="row white-base-background">
  <div class="col-12">
    <ng-container>
      <mat-accordion>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3 class="m-3">
                {{ "STATISTICS_COUNT_GLOBAL_TITLE" | transloco }}
              </h3>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row m-3">
            <div class="col-3">
              <mat-checkbox color="primary" (change)="changeWoman($event)">{{
                "STATISTICS_ONLY_WOMAN" | transloco
              }}</mat-checkbox>
            </div>
            <div class="col-3">
              <mat-checkbox color="primary" (change)="changeMan($event)">{{
                "STATISTICS_ONLY_MAN" | transloco
              }}</mat-checkbox>
            </div>
          </div>
          <div class="row m-3">
            <div class="col-2">{{ "STATISTICS_NAME" | transloco }}</div>
            <div class="col-2">{{ "STATISTICS_COUNT" | transloco }}</div>
            <div class="col-2">{{ "STATISTICS_PENULTIMA" | transloco }}</div>
            <div class="col-2">{{ "STATISTICS_LAST" | transloco }}</div>
            <div class="col-4">{{ "STATISTICS_DISTANCE" | transloco }}</div>
          </div>
          <div class="row m-3" *ngFor="let participant of globalList">
            <div class="col-2">
              {{ participant.name }}
            </div>
            <div class="col-2">
              {{ participant.count }}
            </div>
            <div class="col-2">
              {{
                participant.penultimateAssignmentDate
                  | translocoDate: { dateStyle: "medium" }
              }}
              - {{ participant.penultimateAssignType }}
            </div>
            <div class="col-2">
              {{
                participant.lastAssignmentDate
                  | translocoDate: { dateStyle: "medium" }
              }}
              - {{ participant.lastAssignType }}
            </div>
            <div class="col-4">
              {{ participant.distanceBetweenPenultimaAndLast }}
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </ng-container>
  </div>
</div>
