table {
  table-layout: fixed;
  width: 100%;
  cursor: pointer;
}
td {
  font-size: 14px;
  width: auto;
}
th {
  font-size: 14px;
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
}
