<form [formGroup]="selectionForm" novalidate>
  <div class="row d-print-none">
    <div class="col-3">
      <mat-form-field class="full-width" appearance="fill">
        <mat-label>Select multiple dates</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          (dateChange)="dateChanged($event)"
        />
        <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker
          #picker
          [startAt]="init"
          [dateClass]="dateClass"
        ></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field>
        <mat-label>{{
          "ASSIGN_SELECTION_ASSIGNTYPES_SELECT_TITLE" | transloco
        }}</mat-label>
        <mat-select #assignTypesSelect formControlName="assignTypes" multiple>
          <mat-option
            *ngFor="let assignType of assignTypes"
            [value]="assignType.id"
            >{{ assignType.name }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field>
        <mat-label>{{
          "ASSIGN_SELECTION_ASSIGNTYPES_ORDER_TITLE" | transloco
        }}</mat-label>
        <mat-select #orderSelect formControlName="order">
          <mat-option *ngFor="let order of orderOptions" [value]="order">{{
            order
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-3">
      <mat-form-field>
        <mat-label>{{
          "ASSIGN_SELECTION_ASSIGNTYPES_TEMPLATE_TITLE" | transloco
        }}</mat-label>
        <mat-select #templateSelect formControlName="template">
          <mat-option
            *ngFor="let template of templateOptions"
            [value]="template"
            >{{ template }}</mat-option
          >
        </mat-select>
      </mat-form-field>
    </div>
  </div>
</form>

<div class="row">
  <div class="col">
    <app-selection-list
      *ngIf="
        selectedDates.length &&
        selectionForm.controls.template.value ===
          ('ASSIGN_SELECTION_ASSIGNTYPES_TEMPLATE_VERTICAL' | transloco)
      "
      [selectedDates]="selectedDates"
      [assignTypes]="selectionForm.controls.assignTypes.value"
      [order]="selectionForm.controls.order.value"
    ></app-selection-list>
    <app-selection-list-hor
      *ngIf="
        selectedDates.length &&
        selectionForm.controls.template.value ===
          ('ASSIGN_SELECTION_ASSIGNTYPES_TEMPLATE_HORIZONTAL' | transloco)
      "
      [selectedDates]="selectedDates"
      [assignTypes]="selectionForm.controls.assignTypes.value"
      [order]="selectionForm.controls.order.value"
    ></app-selection-list-hor>
    <app-multiple-image-assignment
      *ngIf="
        selectedDates.length &&
        selectionForm.controls.template.value ===
          ('ASSIGN_SELECTION_ASSIGNTYPES_TEMPLATE_MULTIPLE_SHEET' | transloco)
      "
      [selectedDates]="selectedDates"
      [assignTypes]="selectionForm.controls.assignTypes.value"
      [order]="selectionForm.controls.order.value"
    ></app-multiple-image-assignment>
  </div>
</div>
