<mat-accordion *transloco="let t">
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3 class="m-3">
          {{ t("STATISTICS_COUNT_TERRITORY_TITLE") }}
        </h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-checkbox
      class="ms-3"
      labelPosition="before"
      color="primary"
      (change)="orderByTerritory = !orderByTerritory"
      [disableRipple]="true"
      >{{ t("STATISTICS_COUNT_TERRITORY_ORDER") }}</mat-checkbox
    >
    <!-- ORDER BY TERRITORY -->
    @if (orderByTerritory) {
      @for (terr of territories; track terr) {
        <div class="row m-2">
          <div class="col-12 fw-bold mb-1">
            <span class="border padding">{{ terr.name }}</span>
          </div>
          <div class="row m-2">
            <div class="col-auto">
              <div>{{ t("PLACEHOLDER_NAME") }}:</div>
              <div>{{ t("STATISTICS_COUNT_TERRITORY_ASSIGNED") }}:</div>
              <div>{{ t("STATISTICS_COUNT_TERRITORY_RETURNED") }}:</div>
            </div>
            <div class="col-10">
              <div class="row">
                @for (p of terr.participants.slice(-4); track p; let i = $index) {
                  <div class="col-auto">
                    <div>
                      {{
                        (p | participantPipe)?.name ||
                          t("STATISTICS_COUNT_TERRITORY_P_NOT_FOUND")
                      }}
                    </div>
                    <div>
                      {{ terr.assignedDates[i] | translocoDate: { dateStyle: "short" } }}
                    </div>
                    <div>
                      {{ terr.returnedDates[i] | translocoDate: { dateStyle: "short" } }}
                    </div>
                  </div>
                }
              </div>
            </div>
          </div>
        </div>
      }
    }
    @if (!orderByTerritory) {
      @for (p of participants; track p) {
        <div class="row m-2">
          <div class="col-12 fw-bold mb-1">
            <span class="border padding">{{ p.count }}</span> - {{ p.name }}
          </div>
        </div>
        <div class="row m-2">
          <div class="col-auto">
            <div>{{ t("STATISTICS_COUNT_TERRITORY_NAME") }}:</div>
            <div>{{ t("STATISTICS_COUNT_TERRITORY_ASSIGNED") }}:</div>
            <div>{{ t("STATISTICS_COUNT_TERRITORY_RETURNED") }}:</div>
          </div>

          <div class="col-10">
            <div class="row">
              @for (t of territories; track t; let i = $index) {
                @for (pId of t.participants; track pId; let j = $index) {
                  @if (p.id === pId && !t.returnedDates[j]) {
                    <ng-container class="me-3">
                      <div class="col-auto">
                        <div>{{ t.name }}</div>
                        <div>
                          {{ t.assignedDates[j] | translocoDate: { dateStyle: "short" } }}
                        </div>
                        <div>
                          {{ t.returnedDates[j] | translocoDate: { dateStyle: "short" } }}
                        </div>
                      </div>
                    </ng-container>
                  }
                }
              }
            </div>
          </div>
        </div>
      }
    }
  </mat-expansion-panel>
</mat-accordion>
