<mat-accordion *transloco="let t">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3 class="m-3">
          {{ t("STATISTICS_COUNT_TERRITORY_TITLE") }}
        </h3>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-checkbox
      class="ms-3"
      labelPosition="before"
      color="primary"
      (change)="orderByTerritory = !orderByTerritory"
      [disableRipple]="true"
      >{{ t("STATISTICS_COUNT_TERRITORY_ORDER") }}</mat-checkbox
    >
    <!-- ORDER BY TERRITORY -->
    <ng-container *ngIf="orderByTerritory">
      <ng-container *ngFor="let terr of territories">
        <div class="row m-2">
          <div class="col-12 fw-bold mb-1">
            <span class="border padding">{{ terr.name }}</span>
          </div>
          <div class="col">
            <div class="row m-2">
              <div class="col-auto">
                <div>{{ t("PLACEHOLDER_NAME") }}:</div>
                <div>{{ t("STATISTICS_COUNT_TERRITORY_ASSIGNED") }}:</div>
                <div>{{ t("STATISTICS_COUNT_TERRITORY_RETURNED") }}:</div>
              </div>
              <div class="col-auto" *ngFor="let p of terr.participants; let i = index">
                <div>{{ (p | participantPipe).name }}</div>
                <div>{{ terr.assignedDates[i] | translocoDate : { dateStyle: "short" } }}</div>
                <div>{{ terr.returnedDates[i] | translocoDate : { dateStyle: "short" } }}</div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="!orderByTerritory">
      <ng-container *ngFor="let p of participants">
        <div class="row m-2">
          <div class="col-12 fw-bold mb-1">
            <span class="border padding">{{ p.count }}</span> - {{ p.name }}
          </div>
        </div>
        <div class="row m-2">
          <div *ngIf="p.count" class="col-auto">
            <div>{{ t("STATISTICS_COUNT_TERRITORY_NAME") }}:</div>
            <div>{{ t("STATISTICS_COUNT_TERRITORY_ASSIGNED") }}:</div>
            <div>{{ t("STATISTICS_COUNT_TERRITORY_RETURNED") }}:</div>
          </div>
          <ng-container *ngFor="let t of territories; let i = index">
            <ng-container *ngIf="t.participants.includes(p.id)" class="me-3">
              <div class="col-auto">
                <div>{{ t.name }}</div>
                <div>
                  {{
                    t.assignedDates[t.participants.indexOf(p.id)]
                      | translocoDate : { dateStyle: "short" }
                  }}
                </div>
                <div>
                  {{
                    t.returnedDates[t.participants.indexOf(p.id)]
                      | translocoDate : { dateStyle: "short" }
                  }}
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </ng-container>
    </ng-container>
  </mat-expansion-panel>
</mat-accordion>
