mat-icon {
  height: 28px;
  width: 28px;

  &.reduceIconSize {
    height: 24px;
    width: 24px;
  }

  &#iconHeaderId {
    cursor: default;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  width: 50%;
}
