<div class="row">
  <div class="col-2 d-print-none">
    <button class="m-2" mat-raised-button type="button" routerLink="../..">
      {{ "BUTTON_CANCEL" | transloco }}
    </button>
  </div>
  <div class="col-1 d-print-none">
    <mat-icon
      class="m-2"
      svgIcon="pdf"
      aria-label="icon"
      (click)="toPdf()"
    ></mat-icon>
  </div>
  <div class="col-1 mb-2 d-print-none">
    <mat-icon
      class="m-2"
      svgIcon="printer"
      aria-label="icon"
      (click)="toPrinter()"
    ></mat-icon>
  </div>
  <div id="assignmentDiv">
    <div class="col-12">
      <div class="d-flex flex-wrap align-items-start">
        <div
          class="flex-child-size"
          style="width: 21rem; display: inline-block; margin-right: auto"
          *ngFor="let a of assignmentsWithNames"
        >
          <h4 class="m-2" *ngIf="!assignmentHeaderTitle">
            {{ "ASSIGN_IMAGE_TITLE" | transloco }}
          </h4>
          <h4 class="m-2" *ngIf="assignmentHeaderTitle">
            {{ assignmentHeaderTitle }}
          </h4>
          <hr class="m-2" />
          <div class="m-2">
            <b>{{ "ASSIGN_IMAGE_NAME" | transloco }}</b>
          </div>
          <div class="m-2">{{ a.principal }}</div>
          <ng-container *ngIf="a.assistant">
            <div class="m-2">
              <b>{{ "ASSIGN_IMAGE_ASSISTANT" | transloco }}</b>
            </div>
            <div class="m-2">{{ a.assistant }}</div>
          </ng-container>
          <div class="m-2">
            <b>{{ "ASSIGN_IMAGE_DATE" | transloco }}</b>
          </div>
          <div class="m-2">
            {{ a.date | translocoDate: { dateStyle: "long" } }}
          </div>
          <div class="m-2">
            <b>{{ "ASSIGN_IMAGE_ASSIGNTYPE" | transloco }}</b>
          </div>
          <div class="m-2">{{ a.assignType }}</div>
          <ng-container *ngIf="a.theme"
            ><div class="m-2">
              <b>{{ "ASSIGN_IMAGE_NOTE" | transloco }}</b>
            </div>
            <div class="m-2">{{ a.theme }}</div></ng-container
          >

          <div class="m-2">
            <b>{{ "ASSIGN_IMAGE_ROOM_PRESENTATION" | transloco }}</b>
          </div>
          <div class="m-2">{{ a.room }}</div>
          <ng-container *ngIf="a.footerNote"
            ><div class="m-2">
              <b>{{ "ASSIGN_IMAGE_FOOTER_NOTE" | transloco }}</b>
            </div>
            <div class="text-justify m-2" [innerHTML]="a.footerNote"></div
          ></ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
