<form [formGroup]="assignTypeForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>{{
        "ASSIGNTYPE_UPDATE_TITLE" | transloco
      }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>{{ "PLACEHOLDER_NAME" | transloco }}</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>
        </div>

        <div class="col-8">
          <mat-form-field class="full-width">
            <mat-label>{{ "PLACEHOLDER_ORDER" | transloco }}</mat-label>
            <input matInput type="number" formControlName="order" />
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="button" routerLink="../..">
        {{ "BUTTON_CANCEL" | transloco }}
      </button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="assignTypeForm.invalid"
      >
        {{ "BUTTON_UPDATE" | transloco }}
      </button>
    </mat-card-actions>
  </mat-card>
</form>
