<form *transloco="let t" [formGroup]="assignmentForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ t("ASSIGN_DELETE_TITLE") }}</mat-card-title>
      <mat-card-subtitle>{{ t("ASSIGN_DELETE_WARNING") }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="row"></div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="button" class="me-3" routerLink="../..">
        {{ t("BUTTON_CANCEL") }}
      </button>
      <button mat-raised-button color="warn" type="submit">
        {{ t("BUTTON_DELETE") }}
      </button>
    </mat-card-actions>
  </mat-card>
</form>
