<form *transloco="let t" [formGroup]="form" novalidate (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{
        isUpdate ? t("ROLE_UPDATE_TITLE") : t("ROLE_CREATE_TITLE")
      }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label>{{ t("PLACEHOLDER_NAME") }}</mat-label>
            <input
              matInput
              required
              [appautofocus]="isUpdate ? false : true"
              spellcheck="false"
              formControlName="name"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h4 *ngIf="assignTypes.length">
            {{ isUpdate ? t("ROLE_UPDATE_SUBTITLE") : t("ROLE_CREATE_SUBTITLE") }}
          </h4>
          <div class="row mb-2">
            <ng-container *ngFor="let at of assignTypes">
              <div class="col-auto">
                <mat-checkbox
                  color="primary"
                  (change)="changeCheckbox(at.id)"
                  [checked]="isChecked(at.id)"
                  >{{ at.name }}</mat-checkbox
                >
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        type="button"
        class="me-3"
        [routerLink]="isUpdate ? '../..' : '..'"
      >
        {{ t("BUTTON_CANCEL") }}
      </button>
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
        {{ isUpdate ? t("BUTTON_UPDATE") : t("BUTTON_SAVE") }}
      </button>
    </mat-card-actions>
  </mat-card>
</form>
