table {
  width: fit-content;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid lightgrey;
  text-align: left;
  padding: 4px;
}

.increase-font {
  font-size: 22px;
}

.mat-icon {
  height: 36px;
  width: 36px;
}
