table {
  width: max-content;
  border-collapse: collapse;
}

td,
th {
  width: 5vw;
  text-align: left;
  vertical-align: top;
  padding-left: 2px;
}

.increase-font {
  font-size: 22px;
}

.mat-icon {
  height: 32px;
  width: 32px;
}
