<mat-icon
  class="m-3"
  svgIcon="pdf"
  aria-label="icon"
  (click)="toPdf()"
></mat-icon>
<mat-icon
  class="m-3"
  svgIcon="excel"
  aria-label="icon"
  (click)="toExcel()"
></mat-icon>

<div id="resultListDiv">
  <div class="row">
    <div class="col-12">
      <table>
        <ng-container *ngFor="let ag of assignmentGroups">
          <tr>
            <td class="bold bg-color-lightskyblue">
              {{ ag.date | translocoDate: { dateStyle: "long" } }}
            </td>
            <td *ngFor="let assignment of ag.assignments">
              {{ assignment.assignType }}
            </td>
          </tr>
          <tr>
            <td></td>
            <td *ngFor="let assignment of ag.assignments">
              {{ assignment.principal }}
              <span *ngIf="assignment.assistant">/</span>
              <div *ngIf="assignment.assistant">{{ assignment.assistant }}</div>
            </td>
          </tr>
        </ng-container>
      </table>
    </div>
  </div>
  <hr />
</div>
