<mat-icon
  class="m-3"
  svgIcon="pdf"
  aria-label="icon"
  (click)="toPdf()"
></mat-icon>
<mat-icon
  class="m-3"
  svgIcon="png"
  aria-label="icon"
  (click)="toPng()"
></mat-icon>
<mat-icon
  class="m-3"
  svgIcon="excel"
  aria-label="icon"
  (click)="toExcel()"
></mat-icon>

<div id="resultListDiv" class="bg-color-white">
  <div class="row">
    <div class="col-12">
      <ng-container *ngFor="let ag of assignmentGroups; index as i">
        <table [id]="'table' + i">
          <tr>
            <th
              class="bold"
              [style.background]="
                configService.getConfig().defaultReportDateColor
              "
              [style.fontSize]="
                configService.getConfig().defaultReportFontSize + 'px'
              "
            >
              {{
                ag.date
                  | translocoDate
                    : {
                        dateStyle:
                          configService.getConfig().defaultReportDateFormat
                      }
              }}
            </th>
            <th
              *ngFor="let assignment of ag.assignments"
              class="bold"
              [style.background]="
                assignTypeService.getAssignTypeByName(assignment.assignType)
                  .color
              "
              [style.fontSize]="
                configService.getConfig().defaultReportFontSize + 'px'
              "
            >
              {{ assignment.assignType }}
            </th>
          </tr>
          <tr>
            <td></td>
            <td
              *ngFor="let assignment of ag.assignments"
              [style.fontSize]="
                configService.getConfig().defaultReportFontSize + 'px'
              "
            >
              {{ assignment.principal }}
              <span *ngIf="assignment.assistant">/</span>
              <div *ngIf="assignment.assistant">{{ assignment.assistant }}</div>
            </td>
          </tr>
        </table>
      </ng-container>
    </div>
  </div>
  <hr />
</div>
