<form [formGroup]="roomForm" novalidate (ngSubmit)="onSubmit(roomForm.value)">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>{{ "ROOM_UPDATE_TITLE" | transloco }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-label>{{ "PLACEHOLDER_NAME" | transloco }}</mat-label>
            <input matInput spellcheck="false" formControlName="name" />
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="button" routerLink="../..">
        {{ "BUTTON_CANCEL" | transloco }}
      </button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="roomForm.invalid"
      >
        {{ "BUTTON_UPDATE" | transloco }}
      </button>
    </mat-card-actions>
  </mat-card>
</form>
