<form *transloco="let t" [formGroup]="form" novalidate (ngSubmit)="onSubmit(form.value)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ t('ROOM_DELETE_TITLE') }}</mat-card-title>
      <mat-card-subtitle>{{ t('ROOM_DELETE_WARNING') }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field>
            <mat-label>{{ t('PLACEHOLDER_NAME') }}</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="button" class="me-3" routerLink="../..">
        {{ t('BUTTON_CANCEL') }}
      </button>
      <button mat-raised-button color="warn" type="submit" [disabled]="netStatusOffline$ | async">
        {{ t('BUTTON_DELETE') }}
        @if (netStatusOffline$ | async) {
          <mat-icon svgIcon="nowifi"></mat-icon>
        }
      </button>
    </mat-card-actions>
  </mat-card>
</form>
