<div class="row">
  <div class="col white-base-background">
    <div class="m-3">
      <div class="bold mb-2">{{ "QA__WHAT_IS_SERVIHELPER" | transloco }}</div>
      <div>{{ "QA__WHAT_IS_SERVIHELPER_ANSWER" | transloco }}</div>
    </div>
    <div class="m-3">
      <div class="bold mb-2">{{ "QA__WHAT_CAN_BE_DONE" | transloco }}</div>
      <div>{{ "QA__WHAT_CAN_BE_DONE_ANSWER" | transloco }}</div>
    </div>
    <div class="m-3">
      <div class="bold mb-2">{{ "QA__DISTRIBUTION" | transloco }}</div>
      <div>{{ "QA__DISTRIBUTION_ANSWER" | transloco }}</div>
    </div>
    <div class="m-3">
      <div class="bold mb-2">{{ "QA__HOW_TO_UPDATE" | transloco }}</div>
      <div>{{ "QA__HOW_TO_UPDATE_ANSWER" | transloco }}</div>
    </div>
    <div class="m-3">
      <div class="bold mb-2">
        {{ "QA__HOW_TO_SEND_ASSIGNMENTS" | transloco }}
      </div>
      <div>{{ "QA__HOW_TO_SEND_ASSIGNMENTS_ANSWER" | transloco }}</div>
    </div>
    <div class="m-3">
      <div class="bold mb-2">
        {{ "QA__WHAT_IS_NUMBER_WITH_PARTICIPANT" | transloco }}
      </div>
      <div>{{ "QA__WHAT_IS_NUMBER_WITH_PARTICIPANT_ANSWER" | transloco }}</div>
    </div>
    <div class="m-3">
      <div class="bold mb-2">
        {{ "QA__CONTACT" | transloco }}
      </div>
      <div>{{ "QA__CONTACT_ANSWER" | transloco }}</div>
    </div>
  </div>
</div>
