<div class="row">
  <div class="col white-base-background">
    <div class="m-3">
      <div class="bold mb-2">{{ "INFO__WHAT_IS_SERVIHELPER" | transloco }}</div>
      <div>{{ "INFO__WHAT_IS_SERVIHELPER_ANSWER" | transloco }}</div>
    </div>
    <div class="m-3">
      <div class="bold mb-2">{{ "INFO__WHAT_CAN_BE_DONE" | transloco }}</div>
      <div>{{ "INFO__WHAT_CAN_BE_DONE_ANSWER" | transloco }}</div>
    </div>
    <div class="m-3">
      <div class="bold mb-2">
        {{ "INFO_HOW_TO_WORK" | transloco }}
      </div>
      <div>{{ "INFO_HOW_TO_WORK_ANSWER" | transloco }}</div>
    </div>
    <div class="m-3">
      <div class="bold mb-2">{{ "INFO__DISTRIBUTION" | transloco }}</div>
      <div>{{ "INFO__DISTRIBUTION_ANSWER" | transloco }}</div>
    </div>
    <div class="m-3">
      <div class="bold mb-2">{{ "INFO__HOW_TO_UPDATE" | transloco }}</div>
      <div>{{ "INFO__HOW_TO_UPDATE_ANSWER" | transloco }}</div>
    </div>
    <div class="m-3">
      <div class="bold mb-2">
        {{ "INFO__HOW_TO_SEND_ASSIGNMENTS" | transloco }}
      </div>
      <div>{{ "INFO__HOW_TO_SEND_ASSIGNMENTS_ANSWER" | transloco }}</div>
    </div>
    <div class="m-3">
      <div class="bold mb-2">
        {{ "INFO__WHAT_IS_NUMBER_WITH_PARTICIPANT" | transloco }}
      </div>
      <div>
        {{ "INFO__WHAT_IS_NUMBER_WITH_PARTICIPANT_ANSWER" | transloco }}
      </div>
    </div>
    <div class="m-3">
      <div class="bold mb-2">
        {{ "INFO__CONTACT" | transloco }}
      </div>
      <div>{{ "INFO__CONTACT_ANSWER" | transloco }}</div>
    </div>
  </div>
</div>
