<ng-container *transloco="let t">
  <div class="mb-3">
    <div class="fw-bold mb-2">
      {{ t("INFO__MY_VERSION") }}
    </div>
    <div>{{ appVersion }}</div>
  </div>
  <div class="mb-3">
    <div class="fw-bold mb-2">
      {{ t("INFO__WHAT_IS_SERVIHELPER") }}
    </div>
    <div>{{ t("INFO__WHAT_IS_SERVIHELPER_ANSWER") }}</div>
  </div>
  <div class="mb-3">
    <div class="fw-bold mb-2">{{ t("INFO__WHAT_CAN_BE_DONE") }}</div>
    <div>{{ t("INFO__WHAT_CAN_BE_DONE_ANSWER") }}</div>
  </div>
  <div class="mb-3">
    <div class="fw-bold mb-2">
      {{ t("INFO_HOW_TO_WORK") }}
    </div>
    <div>{{ t("INFO_HOW_TO_WORK_ANSWER") }}</div>
  </div>
  <div class="mb-3">
    <div class="fw-bold mb-2">{{ t("INFO__DISTRIBUTION") }}</div>
    <div>{{ t("INFO__DISTRIBUTION_ANSWER") }}</div>
  </div>
  <div class="mb-3">
    <div class="fw-bold mb-2">
      {{ t("INFO__HOW_TO_SEND_ASSIGNMENTS") }}
    </div>
    <div>{{ t("INFO__HOW_TO_SEND_ASSIGNMENTS_ANSWER") }}</div>
  </div>
  <div class="mb-3">
    <div class="fw-bold mb-2">
      {{ t("INFO__WHAT_IS_NUMBER_WITH_PARTICIPANT") }}
    </div>
    <div>
      {{ t("INFO__WHAT_IS_NUMBER_WITH_PARTICIPANT_ANSWER") }}
    </div>
  </div>
  <div class="mb-3">
    <div class="fw-bold mb-2">
      {{ t("INFO__CONTACT") }}
    </div>
    <div>{{ t("INFO__CONTACT_ANSWER") }}</div>
  </div>
</ng-container>
