@if (showLockMsg) {
  <div class="lockMsgFont" style="height: 100%; display: grid; place-items: center">
    <div *transloco="let t">
      <div class="fw-bold mb-3">{{ t("APP_LOCKED") }}</div>
      <div class="text-center">{{ t("CHECK_LATER") }}</div>
    </div>
  </div>
} @else if (showWarningMsg) {
  <div class="lockMsgFont" style="height: 100%; display: grid; place-items: center">
    <div *transloco="let t" class="m-5">
      <div class="fw-bold text-center mb-4">{{ t("APP_LOCKED_WARNING") }}</div>
      <div class="warningMsgFont mb-1">{{ t("TAKE_CONTROL") }}</div>
      <div class="warningMsgFont mb-1">{{ t("TAKE_CONTROL_2") }}</div>
      <div class="warningMsgFont mb-3">{{ t("TAKE_CONTROL_3") }}</div>
      <div class="warningMsgFont mb-3">{{ t("TAKE_CONTROL_4") }}</div>
      <div class="text-center">
        <button mat-raised-button color="primary" type="submit" (click)="proceedWithTheInit()">
          {{ t("TAKE_CONTROL_BTN") }}
        </button>
      </div>
    </div>
  </div>
} @else {
  <app-navigation>
    <router-outlet></router-outlet>
  </app-navigation>
}
