<span *transloco="let t">
  <div class="row mb-2 g-0">
    <div class="col">
      <a
        mat-raised-button
        color="primary"
        routerLink="create"
        routerLinkActive="active"
        >{{ t("ASSIGNTYPE_CREATE_BUTTON") }}</a
      >
    </div>
  </div>
  <div class="table-overflow">
    <div class="grid">
      <div class="grid-header-item fw-bold">
        {{ t("ASSIGNTYPE_TABLE_HEADER_COLOR") }}
      </div>
      <div class="grid-header-item fw-bold">
        {{ t("ASSIGNTYPE_TABLE_HEADER_NAME") }}
      </div>
      <div class="grid-header-item fw-bold">
        {{ t("ASSIGNTYPE_TABLE_HEADER_ORDER") }}
      </div>
      <div class="grid-header-item fw-bold">
        {{ t("ASSIGNTYPE_TABLE_HEADER_EDIT") }}
      </div>
      <div class="grid-header-item fw-bold">
        {{ t("ASSIGNTYPE_TABLE_HEADER_DELETE") }}
      </div>
      <ng-container *ngFor="let at of assignTypes">
        <div class="grid-row">
          <div
            class="grid-item d-flex align-items-center"
            [style.backgroundColor]="at.color"
          ></div>
          <div class="grid-item d-flex align-items-center">
            {{ at.name }}
          </div>
          <div class="grid-item d-flex align-items-center">
            {{ at.order }}
          </div>
          <div class="grid-item d-flex align-items-center">
            <mat-icon
              [routerLink]="['update', at.id]"
              routerLinkActive="active"
              svgIcon="edit"
              aria-label="Side nav toggle icon"
            ></mat-icon>
          </div>
          <div class="grid-item d-flex align-items-center">
            <mat-icon
              [routerLink]="['delete', at.id]"
              routerLinkActive="active"
              svgIcon="garbage"
              aria-label="Side nav toggle icon"
            ></mat-icon>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</span>
