<ng-container *ngIf="dataSource">
  <div class="m-2">
    <div class="row my-2 g-0">
      <div class="col">
        <a
          mat-raised-button
          color="primary"
          routerLink="create"
          routerLinkActive="active"
          >{{ "ASSIGNTYPE_CREATE_BUTTON" | transloco }}</a
        >
      </div>
    </div>

    <div class="row g-0">
      <div class="col">
        <table
          *ngIf="dataSource.length"
          mat-table
          [dataSource]="dataSource"
          class="mat-elevation-z8"
        >
          <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

          <!-- principal Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>
              {{ "ASSIGNTYPE_TABLE_HEADER_NAME" | transloco }}
            </th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <!-- order Column -->
          <ng-container matColumnDef="order">
            <th mat-header-cell *matHeaderCellDef>
              {{ "ASSIGNTYPE_TABLE_HEADER_ORDER" | transloco }}
            </th>
            <td mat-cell *matCellDef="let element">{{ element.order }}</td>
          </ng-container>

          <!-- editIcon Column -->
          <ng-container matColumnDef="editIcon">
            <th mat-header-cell *matHeaderCellDef>
              {{ "ASSIGNTYPE_TABLE_HEADER_EDIT" | transloco }}
            </th>
            <td mat-cell *matCellDef="let element">
              <mat-icon
                class="m-auto"
                [routerLink]="['update', element.id]"
                routerLinkActive="active"
                svgIcon="edit"
                aria-label="Side nav toggle icon"
              ></mat-icon>
            </td>
          </ng-container>

          <!-- deleteIcon Column -->
          <ng-container matColumnDef="deleteIcon">
            <th mat-header-cell *matHeaderCellDef>
              {{ "ASSIGNTYPE_TABLE_HEADER_DELETE" | transloco }}
            </th>
            <td mat-cell *matCellDef="let element">
              <mat-icon
                class="m-auto"
                [routerLink]="['delete', element.id]"
                routerLinkActive="active"
                svgIcon="garbage"
                aria-label="Side nav toggle icon"
              ></mat-icon>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr
            mat-row
            *matRowDef="let element; let even = even; columns: displayedColumns"
          ></tr>
        </table>
      </div>
    </div>
  </div>
</ng-container>
