<form [formGroup]="assignmentForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>{{
        "ASSIGN_CREATE_ASSIGN_TITLE" | transloco
      }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <mat-form-field appearance="fill">
          <mat-label>{{ "ASSIGN_CREATE_CHOOSE_DATE" | transloco }}</mat-label>
          <input
            required
            appautofocus
            matInput
            [matDatepicker]="picker"
            formControlName="date"
          />
          <mat-datepicker-toggle
            matPrefix
            [for]="picker"
            class="mr-3"
          ></mat-datepicker-toggle>
          <mat-datepicker
            id="assignmentDatepickerId"
            #picker
            [startAt]="lastDate ? lastDate : undefined"
          ></mat-datepicker>
        </mat-form-field>
        <div class="col-6 mb-3">
          <mat-form-field class="full-width">
            <mat-label>{{ "ASSIGN_CREATE_ROOM" | transloco }}</mat-label>
            <mat-select formControlName="room" required>
              <mat-option *ngFor="let room of rooms" [value]="room.id">
                {{ room.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-6 mb-3">
          <mat-form-field class="full-width">
            <mat-label>{{ "ASSIGN_CREATE_ASSIGNTYPE" | transloco }}</mat-label>
            <mat-select formControlName="assignType" required>
              <mat-option
                *ngFor="let assignType of assignTypes"
                [value]="assignType.id"
              >
                {{ assignType.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-12 mb-3">
          <mat-form-field class="full-width">
            <mat-label>{{ "ASSIGN_CREATE_THEME" | transloco }}</mat-label>
            <input matInput formControlName="theme" />
          </mat-form-field>
        </div>
        <div class="col-3 mb-3">
          <mat-checkbox
            labelPosition="before"
            color="primary"
            formControlName="onlyWoman"
            >{{ "ASSIGN_CREATE_ONLY_WOMEN" | transloco }}</mat-checkbox
          >
        </div>
        <div class="col-3 mb-3">
          <mat-checkbox
            labelPosition="before"
            color="primary"
            formControlName="onlyMan"
            >{{ "ASSIGN_CREATE_ONLY_MEN" | transloco }}</mat-checkbox
          >
        </div>
        <div class="col-12 mb-3">
          <mat-form-field class="full-width">
            <mat-label>{{ "ASSIGN_CREATE_PRINCIPAL" | transloco }}</mat-label>
            <mat-select formControlName="principal" required>
              <mat-option
                *ngFor="let participant of principalList; trackBy: trackByIdFn"
                [value]="participant.id"
              >
                {{ participant.count }} - {{ participant.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <ng-container *ngIf="hasAssignmentsList.length">
            {{ "ASSIGN_HAS_ASSIGNMENTS" | transloco }}
            <ul>
              <li
                *ngFor="let assignTypeName of hasAssignmentsList"
                class="d-inline-block"
              >
                <span>&#x2022;&nbsp;{{ assignTypeName }}&nbsp;</span>
              </li>
            </ul>
          </ng-container>
        </div>
        <div class="col-12 mb-3">
          <mat-form-field class="full-width">
            <mat-label>{{ "ASSIGN_CREATE_ASSISTANT" | transloco }}</mat-label>
            <mat-select formControlName="assistant">
              <mat-option
                *ngFor="let participant of assistantList; trackBy: trackByIdFn"
                [value]="participant.id"
              >
                {{ participant.count }} - {{ participant.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <ng-container *ngIf="hasAssignmentsAssistantList.length">
            {{ "ASSIGN_ASSISTANT_HAS_ASSIGNMENTS" | transloco }}
            <ul>
              <li
                *ngFor="let assignTypeName of hasAssignmentsAssistantList"
                class="d-inline-block"
              >
                <span>&#x2022;&nbsp;{{ assignTypeName }}&nbsp;</span>
              </li>
            </ul>
          </ng-container>
        </div>
        <div class="col-12 mb-3">
          <mat-form-field class="full-width">
            <mat-label>{{ "ASSIGN_CREATE_FOOTER_NOTE" | transloco }}</mat-label>
            <mat-select formControlName="footerNote">
              <mat-option *ngFor="let note of footerNotes" [value]="note.id">
                {{ note.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="button" routerLink="..">
        {{ "BUTTON_CANCEL" | transloco }}
      </button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="assignmentForm.invalid"
      >
        {{ "BUTTON_SAVE" | transloco }}
      </button>
      <button
        mat-raised-button
        color="accent"
        type="button"
        (click)="submitAndCreate()"
        [disabled]="assignmentForm.invalid"
      >
        {{ "BUTTON_SAVE_CREATE_ANOTHER" | transloco }}
      </button>
    </mat-card-actions>
  </mat-card>
</form>
