<ng-container *transloco="let t">
  <form
    [formGroup]="assignmentForm"
    novalidate
    (ngSubmit)="submitAndCreate($event)"
  >
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>{{ t("ASSIGN_CREATE_ASSIGN_TITLE") }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <mat-form-field appearance="fill">
            <mat-label>{{ t("ASSIGN_CREATE_CHOOSE_DATE") }}</mat-label>
            <input
              required
              appautofocus
              matInput
              [matDatepicker]="picker"
              formControlName="date"
            />
            <mat-datepicker-toggle
              matPrefix
              [for]="picker"
              class="mr-3"
              [disableRipple]="true"
            ></mat-datepicker-toggle>
            <mat-datepicker
              id="assignmentDatepickerId"
              #picker
              [startAt]="this.lastDateService.lastDate$ | async"
            ></mat-datepicker>
          </mat-form-field>
          <div class="col-6 mb-2">
            <mat-form-field class="full-width">
              <mat-label>{{ t("ASSIGN_CREATE_ROOM") }}</mat-label>
              <mat-select
                formControlName="room"
                required
                [disableRipple]="true"
              >
                <mat-option *ngFor="let room of rooms" [value]="room.id">
                  {{ room.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-6 mb-2">
            <mat-form-field class="full-width">
              <mat-label>{{ t("ASSIGN_CREATE_ASSIGNTYPE") }}</mat-label>
              <mat-select formControlName="assignType" required>
                <mat-option
                  *ngFor="let assignType of assignTypes"
                  [value]="assignType.id"
                  [style.backgroundColor]="assignType.color"
                >
                  {{ assignType.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12 mb-2">
            <mat-form-field class="full-width">
              <mat-label>{{ t("ASSIGN_CREATE_THEME") }}</mat-label>
              <input matInput formControlName="theme" />
            </mat-form-field>
          </div>
          <div class="col-3 mb-2">
            <mat-checkbox
              labelPosition="before"
              color="primary"
              formControlName="onlyWoman"
              [disableRipple]="true"
              >{{ t("ASSIGN_CREATE_ONLY_WOMEN") }}</mat-checkbox
            >
          </div>
          <div class="col-3 mb-2">
            <mat-checkbox
              labelPosition="before"
              color="primary"
              formControlName="onlyMan"
              [disableRipple]="true"
              >{{ t("ASSIGN_CREATE_ONLY_MEN") }}</mat-checkbox
            >
          </div>
          <div class="col-12 mb-2">
            <mat-form-field class="full-width">
              <mat-label>{{ t("ASSIGN_CREATE_PRINCIPAL") }}</mat-label>
              <mat-select
                #principalSelect
                formControlName="principal"
                required
                (selectionChange)="onSelectionChangePrincipal()"
                [disableRipple]="true"
              >
                <mat-option
                  *ngFor="let participant of principals; trackBy: trackByIdFn"
                  [value]="participant.id"
                  [ngClass]="{
                    'bg-color-lightyellow': participant.hasWork,
                    'no-hover': true
                  }"
                >
                  {{ participant.count }} - {{ participant.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12 mb-2">
            <mat-form-field class="full-width">
              <mat-label>{{ t("ASSIGN_CREATE_ASSISTANT") }}</mat-label>
              <mat-select
                #assistantSelect
                formControlName="assistant"
                (selectionChange)="onSelectionChangeAssistant()"
                [disableRipple]="true"
              >
                <mat-option
                  *ngFor="let participant of assistants; trackBy: trackByIdFn"
                  [value]="participant.id"
                  [ngClass]="{
                    'bg-color-lightyellow': participant.hasWork,
                    'no-hover': true
                  }"
                >
                  {{ participant.count }} - {{ participant.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12 mb-2">
            <mat-form-field class="full-width">
              <mat-label>{{ t("ASSIGN_CREATE_FOOTER_NOTE") }}</mat-label>
              <mat-select formControlName="footerNote" [disableRipple]="true">
                <mat-option *ngFor="let note of footerNotes" [value]="note.id">
                  {{ note.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-raised-button
          [disableRipple]="true"
          type="button"
          routerLink=".."
        >
          {{ t("BUTTON_CANCEL") }}
        </button>
        <button
          mat-raised-button
          color="primary"
          type="button"
          (click)="onSubmit($event)"
          [disabled]="assignmentForm.invalid"
        >
          {{ t("BUTTON_SAVE") }}
        </button>
        <button
          #btnSaveCreateAnother
          mat-raised-button
          color="accent"
          type="submit"
          [disableRipple]="true"
          [disabled]="assignmentForm.invalid"
        >
          {{ t("BUTTON_SAVE_CREATE_ANOTHER") }}
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</ng-container>
