<ng-container *ngIf="participant">
  <form
    [formGroup]="participantForm"
    novalidate
    (ngSubmit)="onSubmit(participantForm.value)"
  >
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>{{
          "PARTICIPANT_UPDATE_TITLE" | transloco
        }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col-12">
            <mat-form-field class="full-width mb-2">
              <mat-label>{{ "PLACEHOLDER_NAME" | transloco }}</mat-label>
              <input matInput formControlName="name" />
            </mat-form-field>
          </div>
          <div class="col-12 mb-2">
            <mat-checkbox
              labelPosition="before"
              color="primary"
              formControlName="isWoman"
              >{{ "PARTICIPANT_UPDATE_ISWOMAN" | transloco }}</mat-checkbox
            >
          </div>

          <div class="col-12 mb-2 mr-auto">
            <h3 *ngIf="participant.rooms.length">
              {{ "PARTICIPANT_UPDATE_ROOMS_TITLE" | transloco }}
            </h3>
            <div class="row mb-2">
              <ng-container formArrayName="rooms">
                <ng-container
                  *ngFor="let r of getRoomsForm.controls; let i = index"
                >
                  <div class="col-12 col-md-3 mb-2" [formGroupName]="i">
                    <mat-checkbox
                      labelPosition="before"
                      color="primary"
                      formControlName="available"
                      >{{ getRoomName(r.value.roomId) }}</mat-checkbox
                    >
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </div>

          <div class="col-12 mb-2 mr-auto">
            <h3 *ngIf="participant.assignTypes.length">
              {{ "PARTICIPANT_UPDATE_ASSIGNTYPE_PRINCIPAL" | transloco }}
            </h3>
            <div class="row mb-2">
              <ng-container formArrayName="assignTypes">
                <ng-container
                  *ngFor="let at of getAssignTypesForm.controls; let j = index"
                >
                  <div class="col-12 col-md-3 mb-2" [formGroupName]="j">
                    <mat-checkbox
                      labelPosition="before"
                      color="primary"
                      formControlName="canPrincipal"
                      >{{ assignTypes[j].name }}</mat-checkbox
                    >
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </div>

          <!-- assistant assignTypes -->
          <div class="col-12 mb-2 mr-auto">
            <h3 *ngIf="assignTypes.length">
              {{ "PARTICIPANT_UPDATE_ASSIGNTYPE_ASSISTANT" | transloco }}
            </h3>
            <div class="row mb-2">
              <ng-container formArrayName="assignTypes">
                <ng-container
                  *ngFor="let at of getAssignTypesForm.controls; let z = index"
                >
                  <div class="col-12 col-md-3 mb-2" [formGroupName]="z">
                    <mat-checkbox
                      labelPosition="before"
                      color="primary"
                      formControlName="canAssistant"
                      >{{ assignTypes[z].name }}</mat-checkbox
                    >
                  </div>
                </ng-container>
              </ng-container>
            </div>
          </div>

          <div class="col-12 mb-2">
            <hr />
            <mat-checkbox
              labelPosition="before"
              color="primary"
              formControlName="available"
              >{{ "PARTICIPANT_UPDATE_AVAILABLE" | transloco }}</mat-checkbox
            >
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button type="button" routerLink="../..">
          {{ "BUTTON_CANCEL" | transloco }}
        </button>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="participantForm.invalid"
        >
          {{ "BUTTON_UPDATE" | transloco }}
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</ng-container>
