<h3 mat-dialog-title>Publisher registry header details</h3>
.
<mat-dialog-content>
  <div class="row g-1">
    <div class="col-auto">
      <mat-form-field>
        <mat-label>Publisher name</mat-label>
        <input matInput [formControl]="form.controls.name" />
      </mat-form-field>
    </div>
  </div>
  <div class="row g-1">
    <div class="col-auto">
      <mat-form-field>
        <mat-label>Birth date</mat-label>
        <input matInput [formControl]="form.controls.birthDate" [matDatepicker]="birthPicker" />
        <mat-datepicker-toggle matIconSuffix [for]="birthPicker" />
        <mat-datepicker #birthPicker />
      </mat-form-field>
    </div>
    <div class="col-auto">
      <mat-form-field>
        <mat-label>Baptism date</mat-label>
        <input matInput [formControl]="form.controls.baptismDate" [matDatepicker]="baptismPicker" />
        <mat-datepicker-toggle matIconSuffix [for]="baptismPicker" />
        <mat-datepicker #baptismPicker />
      </mat-form-field>
    </div>
  </div>
  <div class="row g-1">
    <div class="col-auto">
      <mat-label>Men</mat-label>
      <mat-checkbox [formControl]="form.controls.men" />
    </div>
    <div class="col-auto">
      <mat-label>Women</mat-label>
      <mat-checkbox [formControl]="form.controls.women" />
    </div>
    <div class="col-auto">
      <mat-label>Other sheeps</mat-label>
      <mat-checkbox [formControl]="form.controls.otherSheeps" />
    </div>
    <div class="col-auto">
      <mat-label>Anointed</mat-label>
      <mat-checkbox [formControl]="form.controls.anointed" />
    </div>
    <div class="col-auto">
      <mat-label>Elder</mat-label>
      <mat-checkbox [formControl]="form.controls.elder" />
    </div>
    <div class="col-auto">
      <mat-label>Ministerial servant</mat-label>
      <mat-checkbox [formControl]="form.controls.ministerialServant" />
    </div>
    <div class="col-auto">
      <mat-label>Regular Pioneer</mat-label>
      <mat-checkbox [formControl]="form.controls.regularPioneer" />
    </div>
    <div class="col-auto">
      <mat-label>Special Pioneer</mat-label>
      <mat-checkbox [formControl]="form.controls.specialPioneer" />
    </div>
    <div class="col-auto">
      <mat-label>Missionary</mat-label>
      <mat-checkbox [formControl]="form.controls.missionary" />
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    mat-raised-button
    type="button"
    [disabled]="form.invalid"
    (click)="updatePublisherHeaderRegistry()">
    Update
  </button>
  <button mat-button mat-dialog-close type="button">Close</button>
</mat-dialog-actions>
