#map {
  height: 80svh;
}

//When width is less than 1200 we understand that height is also reduced
// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  #map {
    height: 70svh;
  }
}

.mat-icon {
  height: 32px;
  width: 32px;
}
