<span *transloco="let t">
  <div class="d-flex align-items-center">
    <button mat-raised-button type="button" class="me-3" [routerLink]="'..'">
      {{ t("BUTTON_CANCEL") }}
    </button>
    <mat-icon
      class="me-2"
      svgIcon="clipboard"
      aria-label="icon"
      [matTooltip]="t('ICON_CLIPBOARD')"
      (click)="copyImageToClipboard()"
    ></mat-icon>
    <mat-icon
      class="me-2"
      svgIcon="png"
      aria-label="icon"
      [matTooltip]="t('ICON_PNG')"
      (click)="toPng()"
    ></mat-icon>
  </div>
  <div class="d-flex align-items-center mb-2">
    <div
      class="me-2"
      [ngStyle]="{
        width: '25px',
        height: '25px',
        'background-color': greenColor,
        border: '1px solid black'
      }"
    ></div>
    <span class="me-2">{{ t("COLOR_GREEN_EXPLANATION") }}</span>
    <div
      class="me-2"
      [ngStyle]="{
        width: '25px',
        height: '25px',
        'background-color': blueColor,
        border: '1px solid black'
      }"
    ></div>
    <span class="me-2">{{ t("COLOR_BLUE_EXPLANATION") }}</span>
    <div
      class="me-2"
      [ngStyle]="{
        width: '25px',
        height: '25px',
        'background-color': yellowColor,
        border: '1px solid black'
      }"
    ></div>
    <span class="me-2">{{ t("COLOR_YELLOW_EXPLANATION") }}</span>
    <div
      class="me-2"
      [ngStyle]="{
        width: '25px',
        height: '25px',
        'background-color': redColor,
        border: '1px solid black'
      }"
    ></div>
    <span class="me-2">{{ t("COLOR_RED_EXPLANATION") }}</span>
  </div>
  <div class="row">
    <div class="col">
      <!-- The reference for leaflet to load the map -->
      <div id="map" class="mb-2"></div>
    </div>
  </div>
</span>
