<mat-accordion *transloco="let t">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h3 class="m-3">
          {{ t("STATISTICS_COUNT_ASSISTANT_TITLE") }}
        </h3>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="row m-3 align-items-center justify-content-start">
      <div class="col-auto">
        <mat-checkbox #onlyWomenBox color="primary" (change)="changeWoman($event)">{{
          t("STATISTICS_ONLY_WOMAN")
        }}</mat-checkbox>
      </div>
      <div class="col-auto">
        <mat-checkbox #onlyMenBox color="primary" (change)="changeMan($event)">{{
          t("STATISTICS_ONLY_MAN")
        }}</mat-checkbox>
      </div>
      <div class="col-auto">
        <mat-checkbox #hideExternalsBox color="primary" (change)="changeExternals($event)">{{
          t("STATISTICS_EXCLUDE_EXTERNALS")
        }}</mat-checkbox>
      </div>
      <div class="col-auto">
        <mat-icon svgIcon="png" aria-label="icon" (click)="toPng()"></mat-icon>
      </div>
    </div>
    <div id="toPngDivIdAssistant" class="bg-color-white m-3">
      <div class="row m-3">
        <div class="col-2">
          <b>{{ t("STATISTICS_NAME") }}</b>
        </div>
        <div class="col-2">
          <b>{{ t("STATISTICS_COUNT") }}</b>
        </div>
        <div class="col-2">
          <b>{{ t("STATISTICS_PENULTIMA") }}</b>
        </div>
        <div class="col-2">
          <b>{{ t("STATISTICS_LAST") }}</b>
        </div>
        <div class="col-4">
          <b>{{ t("STATISTICS_DISTANCE") }}</b>
        </div>
      </div>
      <div class="row m-3" *ngFor="let participant of assistantList">
        <div class="col-2">
          {{ participant.name }}
        </div>
        <div class="col-2">
          {{ participant.count }}
        </div>
        <div class="col-2">
          {{ participant.penultimateAssignmentDate | translocoDate : { dateStyle: "medium" } }}
          - {{ participant.penultimateAssignType }}
        </div>
        <div class="col-2">
          {{ participant.lastAssignmentDate | translocoDate : { dateStyle: "medium" } }}
          - {{ participant.lastAssignType }}
        </div>
        <div class="col-4">
          {{ participant.distanceBetweenPenultimaAndLast }}
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
