<h3>Data ready for S13</h3>
<h4>Copy with Control + C (Windows) or equivalent on Mac, Linux</h4>
<h4>On Word side, select the columns and Control + V (Paste)</h4>
<hr />
<table>
  <thead>
    <tr>
      <th>Number territory column</th>
      <th>When was completed</th>
      <th colspan="2">First column</th>
      <th colspan="2">Second column</th>
      <th colspan="2">Third column</th>
      <th colspan="2">Fourth column</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan="2">110</td>
      <td rowspan="2">10-10-24</td>
      <td colspan="2">John Smith</td>
      <td colspan="2">Mario Smith</td>
      <td colspan="2">Luigi Smith</td>
      <td colspan="2">Peach Smith</td>
    </tr>
    <tr>
      <td>00-05-24</td>
      <td>00-05-24</td>
      <td>02-05-24</td>
      <td>02-05-24</td>
      <td>04-05-24</td>
      <td>04-05-24</td>
      <td>06-05-24</td>
      <td>06-05-24</td>
    </tr>
  </tbody>
</table>
