<h3>Data ready for S13</h3>
<h4>
  Select all the rows <span class="fst-italic">(table 1 or table 2, but not both)</span> and
  copy with Control + C <span class="fst-italic"> (Windows)</span> or equivalent on Mac, Linux
</h4>
<h4>
  On Word side, select all the rows, then paste with option
  <span class="fst-italic"> 'keep only text'</span>
</h4>
<hr />

<div class="row justify-content-center g-5">
  <div class="col-auto">
    @for (territories of territoriesChunks; track $index) {
      <table>
        <thead>
          <tr>
            <th rowspan="2"></th>
            <th rowspan="2"></th>
          </tr>
          <tr></tr>
        </thead>
        <tbody>
          @for (t of territories; track $index) {
            <tr>
              <td class="center" rowspan="2" height="39px">{{ t.name }}</td>
              <td class="center" rowspan="2">
                {{
                  t.returnedDates.at(-1) ??
                    t.returnedDates.at(-2) ??
                    t.returnedDates.at(-3) ??
                    t.returnedDates.at(-4) | translocoDate: { dateStyle: "short" }
                }}
              </td>
            </tr>
            <tr></tr>
          }
        </tbody>
      </table>
      <hr />
    }
  </div>
  <div class="col">
    @for (territories of territoriesChunks; track $index) {
      <table>
        <thead>
          <tr>
            <th colspan="2"></th>
            <th colspan="2"></th>
            <th colspan="2"></th>
            <th colspan="2"></th>
          </tr>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          @for (t of territories; track $index) {
            <tr>
              <td style="background-color: lightgray" colspan="2">
                {{ (t.participants.at(-1) | participantPipe)?.name }}
              </td>

              <td style="background-color: lightgray" colspan="2">
                {{ (t.participants.at(-2) | participantPipe)?.name }}
              </td>

              <td style="background-color: lightgray" colspan="2">
                {{ (t.participants.at(-3) | participantPipe)?.name }}
              </td>

              <td style="background-color: lightgray" colspan="2">
                {{ (t.participants.at(-4) | participantPipe)?.name }}
              </td>
            </tr>
            <tr>
              <td>
                {{
                  t.assignedDates[t.participants.length - 1]
                    | translocoDate: { dateStyle: "short" }
                }}
              </td>

              <td>
                {{
                  t.returnedDates[t.participants.length - 1]
                    | translocoDate: { dateStyle: "short" }
                }}
              </td>

              <td>
                {{
                  t.assignedDates[t.participants.length - 2]
                    | translocoDate: { dateStyle: "short" }
                }}
              </td>

              <td>
                {{
                  t.returnedDates[t.participants.length - 2]
                    | translocoDate: { dateStyle: "short" }
                }}
              </td>

              <td>
                {{
                  t.assignedDates[t.participants.length - 3]
                    | translocoDate: { dateStyle: "short" }
                }}
              </td>

              <td>
                {{
                  t.returnedDates[t.participants.length - 3]
                    | translocoDate: { dateStyle: "short" }
                }}
              </td>

              <td>
                {{
                  t.assignedDates[t.participants.length - 4]
                    | translocoDate: { dateStyle: "short" }
                }}
              </td>

              <td>
                {{
                  t.returnedDates[t.participants.length - 4]
                    | translocoDate: { dateStyle: "short" }
                }}
              </td>
            </tr>
          }
        </tbody>
      </table>
      <hr />
    }
  </div>
</div>
