<h3>Data ready for S13</h3>
<h4>Select and Copy with Control + C (Windows) or equivalent on Mac, Linux</h4>
<h4>
  On Word side, select the first cell, then right click and "Paste option 'overwrite cells'
</h4>
<hr />

@for (territories of territoriesChunks; track $index) {
  <table cellspacing="0" cellpadding="0" width="0">
    <thead>
      <tr>
        <td class="no-border" rowspan="2"></td>
        <td class="no-border" rowspan="2"></td>
        <td class="no-border" colspan="2"></td>
        <td class="no-border" colspan="2"></td>
        <td class="no-border" colspan="2"></td>
        <td class="no-border" colspan="2"></td>
      </tr>
      <tr>
        <td class="no-border"></td>
        <td class="no-border"></td>
        <td class="no-border"></td>
        <td class="no-border"></td>
        <td class="no-border"></td>
        <td class="no-border"></td>
        <td class="no-border"></td>
        <td class="no-border"></td>
      </tr>
    </thead>
    <tbody>
      @for (t of territories; track $index) {
        <tr>
          <!-- <td tabindex="0" class="center" rowspan="2">{{ t.name }}</td>
          <td tabindex="0" class="center" rowspan="2">
            {{
              t.returnedDates.at(-1) ??
                t.returnedDates.at(-2) ??
                t.returnedDates.at(-3) ??
                t.returnedDates.at(-4) | translocoDate: { dateStyle: "short" }
            }}
          </td> -->
          @if (t.participants.at(-1)) {
            <td colspan="2">{{ (t.participants.at(-1) | participantPipe)?.name }}</td>
          }
          @if (t.participants.at(-2)) {
            <td colspan="2">{{ (t.participants.at(-2) | participantPipe)?.name }}</td>
          }
          @if (t.participants.at(-3)) {
            <td colspan="2">{{ (t.participants.at(-3) | participantPipe)?.name }}</td>
          }
          @if (t.participants.at(-4)) {
            <td colspan="2">{{ (t.participants.at(-4) | participantPipe)?.name }}</td>
          }
        </tr>
        <tr>
          @if (t.assignedDates.at(-1)) {
            <td>{{ t.assignedDates.at(-1) | translocoDate: { dateStyle: "short" } }}</td>
          }
          @if (t.returnedDates.at(-1)) {
            <td>{{ t.returnedDates.at(-1) | translocoDate: { dateStyle: "short" } }}</td>
          }
          @if (t.assignedDates.at(-2)) {
            <td>
              {{ t.assignedDates.at(-2) | translocoDate: { dateStyle: "short" } }}
            </td>
          }
          @if (t.returnedDates.at(-2)) {
            <td>
              {{ t.returnedDates.at(-2) | translocoDate: { dateStyle: "short" } }}
            </td>
          }
          @if (t.assignedDates.at(-3)) {
            <td>
              {{ t.assignedDates.at(-3) | translocoDate: { dateStyle: "short" } }}
            </td>
          }
          @if (t.returnedDates.at(-3)) {
            <td>
              {{ t.returnedDates.at(-3) | translocoDate: { dateStyle: "short" } }}
            </td>
          }
          @if (t.assignedDates.at(-4)) {
            <td>
              {{ t.assignedDates.at(-4) | translocoDate: { dateStyle: "short" } }}
            </td>
            @if (t.returnedDates.at(-4)) {
              <td>
                {{ t.returnedDates.at(-4) | translocoDate: { dateStyle: "short" } }}
              </td>
            }
          }
        </tr>
      }
    </tbody>
  </table>
  <hr />
}
