table {
  font-size: 15px !important;
}

tr {
  cursor: pointer;
}

tr.expanded-detail-row {
  height: 0;
}

.hasDateSeparator {
  border-top: 2px solid black;
}
.hasBeenClicked {
  background-color: oldlace;
}

.expanded-element-row td {
  border-bottom-width: 0;
}

.expanded-element-detail {
  overflow: hidden;
  display: flex;
}

.expanded-element-theme {
  margin-top: 4px;
  margin-bottom: 4px;
}
