table {
  font-size: 15px !important;
  .mat-icon {
    height: 24px;
    width: 24px;
  }
}

tr {
  cursor: pointer;
}

tr.expanded-detail-row {
  height: 0;
}

.hasDateSeparator {
  border-top: 2px solid black;
}
.expanded-element-row td {
  border-bottom-width: 0;
}

.mat-icon {
  height: 28px;
  width: 28px;
}

.expanded-element-detail {
  overflow: hidden;
  display: flex;
}

.expanded-element-theme {
  margin-top: 4px;
  margin-bottom: 4px;
}
