tr {
  cursor: pointer;
}

tr.expanded-detail-row {
  height: 0;
}

.expanded-element-row td {
  border-bottom-width: 0;
}

.mat-paginator,
.mat-paginator-page-size .mat-select-trigger {
  font-size: inherit;
}

.mat-icon {
  height: 28px;
  width: 28px;
}

.expanded-element-detail {
  overflow: hidden;
  display: flex;
}

.expanded-element-theme {
  margin-top: 4px;
  margin-bottom: 4px;
}
