<span *transloco="let t">
  <div class="row mb-2">
    <div class="col-auto">
      <!-- //Select the month for which you want to register publishers -->
      <mat-form-field>
        <mat-label> {{ t('S21_MONTH') }}</mat-label>
        <mat-select [formControl]="selectedMonth">
          @for (month of months; track $index; let i = $index) {
            <mat-option [value]="i">{{ month | getMonthNamePipe: lang }}</mat-option>
          }
        </mat-select>
        <mat-hint>{{ t('S21_PICK_MONTH') }}</mat-hint>
      </mat-form-field>
    </div>
    @if (selectedMonth.value > -1) {
      <div class="col-auto">
        <div class="d-flex flex-column">
          <button
            mat-flat-button
            type="button"
            [disabled]="selectedMonth.invalid"
            (click)="updatePublisherRegistries()">
            {{ t('S21_UPDATE_BTN') }}
          </button>
          <div class="fst-italic fw-bold" style="color: red">{{ t('S21_SAVE_PDF_REMINDER') }}</div>
        </div>
      </div>
      <div class="col-auto">
        <button
          class="me-5"
          mat-raised-button
          type="button"
          [disabled]="selectedMonth.invalid"
          (click)="exportPublisherRegistries()">
          <div class="d-flex">{{ t('S21_EXPORT_BTN') }}</div>
        </button>
      </div>
    }
    <div class="col-auto">
      @if (assignmentsInFolderCreated()) {
        <button color="primary" mat-flat-button type="button" (click)="openS21RegistriesInFolder()">
          {{ t('S21_OPEN_FOLDER') }}
        </button>
      } @else if (showSpinner) {
        <mat-spinner class="ms-4" [diameter]="28" />
      }
    </div>
    <div class="col-auto">
      <button
        class="ms-auto"
        mat-raised-button
        type="button"
        [disabled]="selectedMonth.invalid"
        (click)="cleanPublisherRegistries()">
        <div class="d-flex">{{ t('S21_CLEAN_BTN') }}</div>
      </button>
    </div>
  </div>
  @if (selectedMonth.value >= 0) {
    <div class="row">
      <div class="col-9">
        <div class="table-overflow">
          <table>
            <thead>
              <th>{{ t('S21_T_NAME') }}</th>
              <th class="bg-color-ghostwhite sticky-top">{{ t('S21_T_DETAILS') }}</th>
              <th class="bg-color-ghostwhite sticky-top">
                <div class="d-flex flex-column align-items-start">
                  <div>{{ t('S21_T_HAS_PARTICIPATED') }}</div>
                  <button
                    mat-button
                    type="button"
                    [disabled]="selectedMonth.invalid"
                    (click)="markAllHaveParticipated()">
                    <div class="d-flex">{{ t('S21_T_CHECK_ALL_PARTICIPATED') }}</div>
                  </button>
                </div>
              </th>
              <th class="bg-color-ghostwhite sticky-top">{{ t('S21_T_BIBLE_STUDIES') }}</th>
              <th class="bg-color-ghostwhite sticky-top">{{ t('S21_T_IS_AUX_PIONER') }}</th>
              <th class="bg-color-ghostwhite sticky-top">{{ t('S21_T_HOURS') }}</th>
              <th class="bg-color-ghostwhite sticky-top">{{ t('S21_T_NOTES') }}</th>
            </thead>

            <tbody>
              @for (group of formGroupArray; track $index) {
                <tr>
                  <td>
                    <div>{{ group.controls.name.value }}</div>
                    @if (group.controls.isRegPioner.value) {
                      <span class="f-small fst-italic">{{ t('S21_REGULAR_PIONER') }}</span>
                    }
                  </td>
                  <td (click)="openRegistryHeaderDetails(group.controls.id.value)">
                    <span style="color: blue; cursor: pointer">{{ t('S21_OPEN_DETAILS') }}</span>
                  </td>
                  <td><mat-checkbox [formControl]="group.controls.hasParticipated" /></td>
                  <td>
                    <mat-form-field>
                      <input
                        matInput
                        spellcheck="false"
                        [formControl]="group.controls.bibleStudies" />
                    </mat-form-field>
                  </td>
                  <td><mat-checkbox [formControl]="group.controls.isAuxPioner" /></td>
                  <td>
                    <mat-form-field>
                      <input
                        matInput
                        spellcheck="false"
                        type="number"
                        [formControl]="group.controls.hours" />
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field>
                      <input matInput spellcheck="false" [formControl]="group.controls.notes" />
                    </mat-form-field>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-3">
        <div class="row mt-5">
          <div class="col-12">
            <div>{{ t('S21_ALL_ACTIVE_PUBLISHERS') }}*</div>
            <div class="fw-bold">{{ allActivePublishers() }}</div>
          </div>
          <hr class="my-2" />
        </div>
        <div class="row">
          <h4>{{ t('S21_PUBLISHERS') }}</h4>
          <div class="col-12">
            <div>{{ t('S21_NUMBER_REPORTS') }}</div>
            <div class="fw-bold">{{ numberOfReports() }}</div>
          </div>
          <div class="col-12">
            <div>{{ t('S21_BIBLE_COURSES') }}</div>
            <div class="fw-bold">{{ numberOfBibleStudies() }}</div>
          </div>
          <hr class="my-2" />
        </div>
        <div class="row">
          <h4>{{ t('S21_AUX_PIONERS') }}</h4>
          <div class="col-12">
            <div>{{ t('S21_NUMBER_REPORTS') }}</div>
            <div class="fw-bold">{{ numberOfReportsAuxPioner() }}</div>
          </div>
          <div class="col-12">
            <div>{{ t('S21_HOURS') }}</div>
            <div class="fw-bold">{{ HoursAuxPioner() }}</div>
          </div>
          <div class="col-12">
            <div>{{ t('S21_BIBLE_COURSES') }}</div>
            <div class="fw-bold">{{ numberOfBibleStudiesAuxPioner() }}</div>
          </div>
          <hr class="my-2" />
        </div>
        <div class="row">
          <h4>{{ t('S21_REGULAR_PIONERS') }}</h4>
          <div class="col-12">
            <div>{{ t('S21_NUMBER_REPORTS') }}</div>
            <div class="fw-bold">{{ numberOfReportsRegularPioner() }}</div>
          </div>
          <div class="col-12">
            <div>{{ t('S21_HOURS') }}</div>
            <div class="fw-bold">{{ HoursRegularPioner() }}</div>
          </div>
          <div class="col-12">
            <div>{{ t('S21_BIBLE_COURSES') }}</div>
            <div class="fw-bold">{{ numberOfBibleStudiesRegularPioner() }}</div>
          </div>
          <hr class="my-2" />
        </div>
        <div class="row">
          <div class="col-auto">
            <div class="fst-italic">*{{ t('S21_HAS_TO_PARTICIPATE_NOTE') }}</div>
          </div>
        </div>
      </div>
    </div>
  }
</span>
