<ng-container *transloco="let t">
  <form [formGroup]="form" novalidate (ngSubmit)="submitAndCreate($event)">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{
          isUpdate
            ? t("ASSIGN_UPDATE_TITLE")
            : isMultipleDates
            ? t("ASSIGN_MULTIPLE_CREATE_TITLE")
            : t("ASSIGN_CREATE_TITLE")
        }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="!isUpdate" class="row">
          <div class="col">
            <mat-checkbox
              labelPosition="before"
              color="primary"
              (change)="toggleIsMultipleDates($event)"
              [disableRipple]="true"
              >{{ t("ASSIGN_CHECK_IS_MULTIPLE") }}</mat-checkbox
            >
          </div>
        </div>
        <div class="row">
          <mat-form-field *ngIf="isMultipleDates">
            <mat-label>{{ t("ASSIGN_SELECTION_DATES_SELECT_TITLE") }}</mat-label>
            <input
              matInput
              [value]="resetModel"
              [matDatepicker]="multipleDatePicker"
              (dateChange)="dateChanged($event)"
            />
            <mat-datepicker-toggle
              matPrefix
              [for]="multipleDatePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker
              #multipleDatePicker
              [startAt]="this.lastDateService.lastDate$ | async"
              [dateClass]="dateClass"
            ></mat-datepicker>
          </mat-form-field>

          <mat-form-field *ngIf="!isMultipleDates">
            <mat-label>{{ t("ASSIGN_CHOOSE_DATE") }}</mat-label>
            <input
              required
              [appautofocus]="isUpdate ? false : true"
              matInput
              [matDatepicker]="picker"
              formControlName="date"
            />
            <mat-datepicker-toggle
              matPrefix
              [for]="picker"
              class="mr-3"
            ></mat-datepicker-toggle>
            <mat-datepicker
              id="assignmentDatepickerId"
              #picker
              [startAt]="this.lastDateService.lastDate$ | async"
              (closed)="warningIfAlreadyHasWork()"
            ></mat-datepicker>
          </mat-form-field>
          <div class="col-6 mb-2">
            <mat-form-field>
              <mat-label>{{ t("ASSIGN_ROOM") }}</mat-label>
              <mat-select formControlName="room" required (closed)="warningIfAlreadyHasWork()">
                <mat-option
                  *ngFor="let room of rooms; trackBy: trackByIdRoomFn"
                  [value]="room.id"
                >
                  {{ room.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-6 mb-2">
            <mat-form-field>
              <mat-label>{{ t("ASSIGN_ASSIGNTYPE") }}</mat-label>
              <mat-select
                formControlName="assignType"
                required
                (closed)="warningIfAlreadyHasWork()"
              >
                <mat-option
                  *ngFor="let assignType of assignTypes; trackBy: trackByIdAssignTypeFn"
                  [value]="assignType.id"
                  [style.borderLeft]="getBorderLeftStyle(assignType.color)"
                >
                  {{ assignType.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12 mb-2">
            <mat-form-field>
              <mat-label>{{ t("ASSIGN_THEME") }}</mat-label>
              <input matInput spellcheck="false" formControlName="theme" />
            </mat-form-field>
          </div>
          <div class="col-12 mb-2">
            <div class="d-flex align-items-baseline justify-content-start">
              <span class="d-inline-block me-3">
                <mat-icon class="me-2" svgIcon="woman" aria-label="icon"></mat-icon>
                <mat-checkbox
                  labelPosition="before"
                  color="primary"
                  formControlName="onlyWoman"
                  [disableRipple]="true"
                  >{{ t("ASSIGN_ONLY_WOMEN") }}</mat-checkbox
                >
              </span>
              <span class="d-inline-block me-3">
                <mat-icon class="me-2" svgIcon="man" aria-label="icon"></mat-icon>
                <mat-checkbox
                  labelPosition="before"
                  color="primary"
                  formControlName="onlyMan"
                  [disableRipple]="true"
                  >{{ t("ASSIGN_ONLY_MEN") }}</mat-checkbox
                >
              </span>
              <span>
                <mat-checkbox
                  labelPosition="before"
                  color="primary"
                  formControlName="onlyExternals"
                  [disableRipple]="true"
                  >{{ t("ASSIGN_ONLY_EXTERNALS") }}</mat-checkbox
                >
              </span>
            </div>
          </div>
          <div class="col-1 mb-2">
            <mat-form-field>
              <mat-label>{{ t("ASSIGN_GROUP") }}</mat-label>
              <mat-select formControlName="group">
                <mat-option [value]="0">{{ t("ASSIGN_ALL_GROUPS") }}</mat-option>
                <mat-option *ngFor="let number of availableGroups" [value]="number">{{
                  number
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-11 mb-2">
            <mat-form-field>
              <mat-label>{{ t("ASSIGN_PRINCIPAL") }}</mat-label>
              <mat-select
                #principalSelect
                formControlName="principal"
                required
                (selectionChange)="onSelectionChangePrincipal()"
                [disableRipple]="true"
              >
                <mat-select-trigger *ngIf="principalSelect.value">
                  {{ (principalSelect.value | participantPipe).name }}
                </mat-select-trigger>
                <mat-option
                  *ngFor="let participant of principals; trackBy: trackByIdFn"
                  [value]="participant.id"
                >
                  <div class="grid">
                    <div class="d-flex align-items-center py-1">
                      <mat-icon
                        *ngIf="participant.hasWork && !isMultipleDates; else noIcon"
                        (click)="onIconWarningClick($event, participant)"
                        svgIcon="warning"
                        aria-label="icon"
                      ></mat-icon>
                      <mat-icon
                        *ngIf="!participant.hasWork && !isMultipleDates; else noIcon"
                        (click)="onPrincipalIconInfoClick($event, participant)"
                        svgIcon="info-blue"
                        aria-label="icon"
                      ></mat-icon>
                    </div>
                    <div *ngIf="!isMultipleDates; else noCount">
                      {{ participant.count }}
                    </div>
                    <div>{{ participant.name }}</div>
                    <ng-template #noIcon><div></div></ng-template>
                    <ng-template #noCount><div></div></ng-template>
                  </div>
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.controls.principal.invalid">{{
                t("ASSIGN_ERROR_PRINCIPAL")
              }}</mat-error>
            </mat-form-field>
          </div>
          <div class="col-12 mb-2">
            <mat-form-field>
              <mat-label>{{ t("ASSIGN_ASSISTANT") }}</mat-label>
              <mat-select
                #assistantSelect
                formControlName="assistant"
                (selectionChange)="onSelectionChangeAssistant()"
                [disableRipple]="true"
              >
                <mat-select-trigger *ngIf="assistantSelect.value">
                  {{ (assistantSelect.value | participantPipe).name }}
                </mat-select-trigger>
                <mat-option
                  *ngFor="let participant of assistants; trackBy: trackByIdFn"
                  [value]="participant.id"
                >
                  <div class="grid">
                    <div>
                      <mat-icon
                        *ngIf="participant.hasWork && !isMultipleDates; else noIcon"
                        (click)="onIconWarningClick($event, participant)"
                        svgIcon="warning"
                        aria-label="icon"
                      ></mat-icon>
                      <mat-icon
                        *ngIf="!participant.hasWork && !isMultipleDates; else noIcon"
                        (click)="onAssistantIconInfoClick($event, participant)"
                        svgIcon="info-blue"
                        aria-label="icon"
                      ></mat-icon>
                    </div>
                    <div *ngIf="!isMultipleDates; else noCount">
                      {{ participant.count }}
                    </div>
                    <div>{{ participant.name }}</div>
                    <ng-template #noIcon><div></div></ng-template>
                    <ng-template #noCount><div></div></ng-template>
                  </div>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12 mb-2">
            <mat-form-field>
              <mat-label>{{ t("ASSIGN_FOOTER_NOTE") }}</mat-label>
              <mat-select formControlName="footerNote" [disableRipple]="true">
                <mat-option [value]="undefined"></mat-option>
                <mat-option *ngFor="let note of footerNotes" [value]="note.id">
                  {{ note.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button
          class="me-3"
          mat-raised-button
          [disableRipple]="true"
          type="button"
          [routerLink]="isUpdate ? '../..' : '..'"
        >
          {{ t("BUTTON_CANCEL") }}
        </button>
        <button
          class="me-3"
          mat-raised-button
          color="primary"
          type="button"
          (click)="onSubmit($event)"
          [disabled]="form.invalid || (isMultipleDates && !selectedDates.length)"
        >
          {{ isUpdate ? t("BUTTON_UPDATE") : t("BUTTON_SAVE") }}
        </button>
        <button
          *ngIf="!isUpdate && !isMultipleDates"
          #btnSaveCreateAnother
          mat-raised-button
          color="accent"
          type="submit"
          [disableRipple]="true"
          [disabled]="form.invalid"
        >
          {{ t("BUTTON_SAVE_CREATE_ANOTHER") }}
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</ng-container>
