mat-icon {
  height: 28px;
  width: 28px;
}

.grid {
  display: grid;
  grid-template-columns: 40px 35px 1fr;
  grid-auto-rows: 1fr;
  box-sizing: border-box;
  align-items: center;
  & > div {
    & > mat-icon {
      height: 24px;
      width: 24px;
    }
  }
}

::ng-deep .mat-calendar-body-cell.selected > .mat-calendar-body-cell-content,
::ng-deep .mat-calendar-body-cell.selected:hover > .mat-calendar-body-cell-content,
::ng-deep .mat-calendar-body-cell.selected > .mat-calendar-body-cell-content:hover {
  background-color: #673ab7 !important;
  color: #fff !important;
}
