<!-- eslint-disable @angular-eslint/template/cyclomatic-complexity -->
<ng-container *transloco="let t">
  <form novalidate [formGroup]="form" (ngSubmit)="submitAndCreate($event)">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{
          isUpdate
            ? t('ASSIGN_UPDATE_TITLE')
            : isMultipleDates
              ? t('ASSIGN_MULTIPLE_CREATE_TITLE')
              : t('ASSIGN_CREATE_TITLE')
        }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        @if (!isUpdate) {
          <div class="row">
            <div class="col">
              <mat-checkbox
                color="primary"
                labelPosition="before"
                [disableRipple]="true"
                (change)="toggleIsMultipleDates($event)"
                >{{ t('ASSIGN_CHECK_IS_MULTIPLE') }}</mat-checkbox
              >
            </div>
          </div>
        }
        <div class="row">
          <div class="col-6">
            @if (isMultipleDates) {
              <mat-form-field>
                <mat-label>{{ t('ASSIGN_SELECTION_DATES_SELECT_TITLE') }}</mat-label>
                <input
                  matInput
                  [matDatepicker]="multipleDatePicker"
                  [value]="resetModel"
                  (dateChange)="dateChanged($event)" />
                <mat-datepicker-toggle matPrefix [for]="multipleDatePicker" />
                <mat-datepicker
                  #multipleDatePicker
                  [dateClass]="dateClass"
                  [startAt]="this.lastDateService.lastDate$ | async" />
              </mat-form-field>
            } @else {
              <mat-form-field>
                <mat-label>{{ t('ASSIGN_CHOOSE_DATE') }}</mat-label>
                <input
                  formControlName="date"
                  matInput
                  required
                  [appautofocus]="isUpdate ? false : true"
                  [matDatepicker]="picker" />
                <mat-datepicker-toggle class="mr-3" matPrefix [for]="picker" />
                <mat-datepicker
                  #picker
                  id="assignmentDatepickerId"
                  [startAt]="this.lastDateService.lastDate$ | async"
                  (closed)="warningIfAlreadyHasWork()" />
              </mat-form-field>
            }
          </div>
          <div class="col-6">
            <mat-form-field>
              <mat-label>{{ t('ASSIGN_CHOOSE_SHEET_TITLE') }}</mat-label>
              <mat-select formControlName="sheetTitle">
                <mat-option value="" />
                @for (title of sheetTitles; track title.id) {
                  <mat-option [value]="title.id">
                    {{ title.name }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-6 mb-2">
            <mat-form-field>
              <mat-label>{{ t('ASSIGN_ROOM') }}</mat-label>
              <mat-select formControlName="room" required (closed)="warningIfAlreadyHasWork()">
                @for (room of rooms; track room.id) {
                  <mat-option [value]="room.id">
                    {{ room | roomNamePipe }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-6 mb-2">
            <mat-form-field>
              <mat-label>{{ t('ASSIGN_ASSIGNTYPE') }}</mat-label>
              <mat-select
                formControlName="assignType"
                required
                (closed)="warningIfAlreadyHasWork()">
                @for (assignType of assignTypes; track assignType.id) {
                  <mat-option
                    [style.borderLeft]="getBorderLeftStyle(assignType.color)"
                    [value]="assignType.id">
                    {{ assignType | assignTypeNamePipe }}
                  </mat-option>
                }
              </mat-select>
              <mat-error *ngIf="noAvailableAssignTypesByRole">{{
                t('ASSIGN_ERROR_NO_AVAILABLE_ASSIGN_TYPES')
              }}</mat-error>
            </mat-form-field>
          </div>
          @if (isPTheme) {
            <div class="col-12 mb-2">
              <mat-form-field>
                <mat-label>{{ t('ASSIGN_THEME') }}</mat-label>
                <mat-select
                  #publicThemeSelect
                  formControlName="theme"
                  required
                  [disableRipple]="true">
                  <mat-select-trigger *ngIf="publicThemeSelect.value">
                    {{ (publicThemeSelect.value | publicThemePipe).name }}
                  </mat-select-trigger>
                  @for (pTheme of publicThemes; track pTheme.id) {
                    <mat-option [value]="pTheme.id">
                      <div>{{ getPThemeCount(pTheme.id) }} - {{ pTheme.name }}</div>
                    </mat-option>
                  }
                </mat-select>
                @if (!publicThemes.length) {
                  <mat-error>{{ t('ASSIGN_ERROR_NO_PUBLIC_THEMES_AVAILABLE') }}</mat-error>
                }
              </mat-form-field>
            </div>
          } @else {
            <div class="col-12 mb-2">
              <mat-form-field>
                <mat-label>{{ t('ASSIGN_THEME') }}</mat-label>
                <input formControlName="theme" matInput spellcheck="false" />
              </mat-form-field>
            </div>
          }
          <div class="col-12 mb-2">
            <div class="d-flex align-items-baseline justify-content-between">
              <div>
                <span class="d-inline-block me-3">
                  <mat-icon aria-label="icon" class="me-2" svgIcon="woman" />
                  <mat-checkbox
                    color="primary"
                    formControlName="onlyWoman"
                    labelPosition="before"
                    [disableRipple]="true"
                    >{{ t('ASSIGN_ONLY_WOMEN') }}</mat-checkbox
                  >
                </span>
                <span class="d-inline-block me-3">
                  <mat-icon aria-label="icon" class="me-2" svgIcon="man" />
                  <mat-checkbox
                    color="primary"
                    formControlName="onlyMan"
                    labelPosition="before"
                    [disableRipple]="true"
                    >{{ t('ASSIGN_ONLY_MEN') }}</mat-checkbox
                  >
                </span>
                <span>
                  <mat-checkbox
                    color="primary"
                    formControlName="onlyExternals"
                    labelPosition="before"
                    [disableRipple]="true"
                    >{{ t('ASSIGN_ONLY_EXTERNALS') }}</mat-checkbox
                  >
                </span>
              </div>
              <div>
                <span class="d-flex align-items-center justify-content-end">
                  <mat-icon aria-label="icon" class="me-2" svgIcon="clock" />
                  <mat-checkbox
                    color="primary"
                    formControlName="onlySortByTime"
                    labelPosition="before"
                    [disableRipple]="true"
                    >{{ t('ASSIGN_SORT_ONLY_TIME') }}</mat-checkbox
                  >
                </span>
                <div class="fst-italic f-small">{{ t('SORT_NO_DISTANCE_HINT') }}</div>
              </div>
            </div>
          </div>
          <div class="col-1 mb-2">
            <mat-form-field>
              <mat-label>{{ t('ASSIGN_GROUP') }}</mat-label>
              <mat-select formControlName="group">
                <mat-option [value]="0">{{ t('ASSIGN_ALL_GROUPS') }}</mat-option>
                <mat-option *ngFor="let number of availableGroups" [value]="number">{{
                  number
                }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-11 mb-2">
            <mat-form-field>
              <mat-label>{{ t('ASSIGN_PRINCIPAL') }}</mat-label>
              <mat-select
                #principalSelect
                formControlName="principal"
                required
                [disableRipple]="true"
                (selectionChange)="onSelectionChangePrincipal()">
                <mat-select-trigger *ngIf="principalSelect.value">
                  {{ (principalSelect.value | participantPipe).name }}
                </mat-select-trigger>
                @for (participant of principals; track participant.id) {
                  @if (participant.distanceBetweenPenultimaAndLast) {
                    <mat-option [value]="participant.id">
                      <span>{{ participant.name }}</span> -
                      @if (participant.isPrincipalLastAssignment) {
                        <span> {{ participant.lastAssignType }}</span> -
                      }
                      <span>{{ participant.distanceBetweenPenultimaAndLast }}</span>
                    </mat-option>
                  } @else {
                    <mat-option [value]="participant.id">
                      <div class="grid">
                        <div class="d-flex align-items-center py-1">
                          @if (participant.hasWork && !isMultipleDates) {
                            <mat-icon
                              aria-label="icon"
                              svgIcon="warning"
                              (click)="onIconWarningClick($event, participant)" />
                          } @else if (!participant.hasWork && !isMultipleDates) {
                            <mat-icon
                              aria-label="icon"
                              svgIcon="info-blue"
                              (click)="onPrincipalIconInfoClick($event, participant)" />
                          } @else {
                            <div></div>
                          }
                        </div>
                        @if (!isMultipleDates) {
                          <div class="d-flex align-items-center">
                            {{ participant.count }}
                          </div>
                        } @else {
                          <div></div>
                        }
                        <div class="d-flex align-items-center">
                          <span class="me-2">{{ participant.name }}</span>
                          @if (participant.hasCollision && !isMultipleDates) {
                            <mat-icon
                              aria-label="icon"
                              class="me-2"
                              svgIcon="time"
                              (click)="onRedClockClick($event, participant)" />
                          } @else if (participant.isCloseToOthers && !isMultipleDates) {
                            <mat-icon
                              aria-label="icon"
                              svgIcon="warningtime"
                              (click)="onYellowClockSchoolClick($event, participant)" />
                          } @else if (participant.isCloseToOthersPrayer && !isMultipleDates) {
                            <mat-icon
                              aria-label="icon"
                              svgIcon="warningtime"
                              (click)="onYellowClockPrayerClick($event, participant)" />
                          } @else if (participant.isCloseToOthersTreasuresEtc && !isMultipleDates) {
                            <mat-icon
                              aria-label="icon"
                              svgIcon="warningtime"
                              (click)="onYellowClockTreasuresEtcClick($event, participant)" />
                          } @else if (participant.isStarvingSchool && !isMultipleDates) {
                            <mat-icon
                              aria-label="icon"
                              svgIcon="fork"
                              (click)="onStarvingSchoolClick($event)" />
                          }
                        </div>
                      </div>
                    </mat-option>
                  }
                }
              </mat-select>
              <mat-error *ngIf="form.controls.principal.invalid">{{
                t('ASSIGN_ERROR_PRINCIPAL')
              }}</mat-error>

              <mat-hint *ngIf="form.controls.principal.value">
                @if (companions.length) {
                  <span>{{ t('ASSIGN_LAST_COMPANIONS') }}:</span>
                  @for (comp of companions; track $index; let first = $first) {
                    @if (first) {
                      {{ comp.name }},
                    } @else {
                      {{ comp.name }}
                    }
                  }
                }
              </mat-hint>
            </mat-form-field>
          </div>
          <div class="col-12 mb-2">
            <mat-form-field>
              <mat-label>{{ t('ASSIGN_ASSISTANT') }}</mat-label>
              <mat-select
                #assistantSelect
                formControlName="assistant"
                [disableRipple]="true"
                (selectionChange)="onSelectionChangeAssistant()">
                <mat-select-trigger *ngIf="assistantSelect.value">
                  {{ (assistantSelect.value | participantPipe).name }}
                </mat-select-trigger>
                @for (participant of assistants; track participant.id) {
                  <mat-option [value]="participant.id">
                    <div class="grid">
                      <div>
                        @if (participant.hasWork && !isMultipleDates) {
                          <mat-icon
                            aria-label="icon"
                            svgIcon="warning"
                            (click)="onIconWarningClick($event, participant)" />
                        } @else if (!participant.hasWork && !isMultipleDates) {
                          <mat-icon
                            aria-label="icon"
                            svgIcon="info-blue"
                            (click)="onAssistantIconInfoClick($event, participant)" />
                        } @else {
                          <div></div>
                        }
                      </div>
                      @if (!isMultipleDates) {
                        <div>
                          {{ participant.count }}
                        </div>
                      } @else {
                        <div></div>
                      }
                      <div class="d-flex align-items-center">
                        <span class="me-2">{{ participant.name }}</span>
                        @if (participant.isCloseToOthers && !isMultipleDates) {
                          <mat-icon
                            aria-label="icon"
                            svgIcon="warningtime"
                            [matTooltip]="t('CONFIG_EXPLAIN_EXHAUST_TOOLTIP')" />
                        }
                      </div>
                    </div>
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-12 mb-2">
            <mat-form-field subscriptSizing="dynamic">
              <mat-label>{{ t('ASSIGN_FOOTER_NOTE') }}</mat-label>
              <mat-select formControlName="footerNote" [disableRipple]="true">
                <mat-option [value]="undefined" />
                @for (note of footerNotes; track note.id) {
                  <mat-option [value]="note.id">
                    {{ note.name }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button
          #cancelBtn
          class="me-3"
          mat-raised-button
          type="button"
          [disableRipple]="true"
          [routerLink]="isUpdate ? '../..' : '..'">
          {{ t('BUTTON_CANCEL') }}
        </button>
        <button
          class="me-3"
          color="primary"
          mat-raised-button
          type="button"
          [disabled]="
            form.invalid ||
            (isMultipleDates && !selectedDates.length) ||
            (netStatusOffline$ | async)
          "
          (click)="onSubmit($event)">
          <mat-icon *ngIf="netStatusOffline$ | async" svgIcon="nowifi" />
          {{ isUpdate ? t('BUTTON_UPDATE') : t('BUTTON_SAVE') }}
        </button>
        @if (!isUpdate && !isMultipleDates) {
          <button
            #btnSaveCreateAnother
            color="accent"
            mat-raised-button
            type="submit"
            [disableRipple]="true"
            [disabled]="form.invalid || (netStatusOffline$ | async)">
            <mat-icon *ngIf="netStatusOffline$ | async" svgIcon="nowifi" />
            {{ t('BUTTON_SAVE_CREATE_ANOTHER') }}
          </button>
        }
      </mat-card-actions>
    </mat-card>
  </form>
</ng-container>
