.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 1fr;
  box-sizing: border-box;
  & > div.grid-header-item {
    padding: 12px 4px;
    white-space: nowrap;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }
  & > div.grid-row {
    display: contents;

    & > div {
      height: 100%;
      padding-right: 4px;
      padding-left: 4px;
    }
    &:hover div {
      background-color: white;
    }
  }
}
