<mat-sidenav-container *transloco="let t">
  <mat-sidenav
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar
      ><a
        *ngIf="(queryGitHub$ | async)?.tag_name !== appVersion"
        href="#"
        (click)="openExternalServihelperRepository()"
      >
        {{ t("NEW_VERSION_AVAILABLE") }}
      </a></mat-toolbar
    >
    <mat-nav-list class="p-0">
      <!-- p-0 list has padding top and a gap is visible -->
      <div class="row g-0 justify-content-around align-items-center">
        <div class="col-12">
          <a mat-list-item routerLink="/">
            <span>{{ t("NAV_HOME") }}</span>
          </a>
        </div>
      </div>
      <div class="row g-0 justify-content-around align-items-center">
        <!-- <div class="col-10">
          <a mat-list-item routerLink="assignType">
            <span>{{ t("NAV_ASSIGN_TYPE") }}</span>
          </a>
        </div>
        <div class="col-2">
          <mat-icon svgIcon="abc" aria-label="Side nav toggle icon"></mat-icon>
        </div> -->
        <mat-list-item routerLink="assignType">
          <div class="d-flex justify-content-between">
            <span>{{ t("NAV_ASSIGN_TYPE") }}</span>
            <mat-icon svgIcon="abc"></mat-icon>
          </div>
        </mat-list-item>
      </div>
      <mat-list-item routerLink="room">
        <div class="d-flex justify-content-between">
          <span>{{ t("NAV_ROOM") }}</span>
          <mat-icon svgIcon="room"></mat-icon>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="note">
        <div class="d-flex justify-content-between">
          <span>{{ t("NAV_NOTE") }}</span>
          <mat-icon svgIcon="notes"></mat-icon>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="participant">
        <div class="d-flex justify-content-between">
          <span>{{ t("NAV_PARTICIPANT") }}</span>
          <mat-icon svgIcon="participants"></mat-icon>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="assignment">
        <div class="d-flex justify-content-between">
          <span>{{ t("NAV_ASSIGNMENT") }}</span>
          <mat-icon svgIcon="assignment"></mat-icon>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="selectionSheets">
        <div class="d-flex justify-content-between">
          <span>{{ t("NAV_REPORTS") }}</span>
          <mat-icon svgIcon="lists"></mat-icon>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="statistics">
        <div class="d-flex justify-content-between">
          <span>{{ t("NAV_STATISTICS") }}</span>
          <mat-icon svgIcon="statistics"></mat-icon>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="config">
        <div class="d-flex justify-content-between">
          <span>{{ t("NAV_CONFIG") }}</span>
          <mat-icon svgIcon="config"></mat-icon>
        </div>
      </mat-list-item>
      <mat-list-item routerLink="info">
        <div class="d-flex justify-content-between">
          <span>{{ t("NAV_INFO") }}</span>
          <mat-icon svgIcon="info" aria-label="Side nav toggle icon"></mat-icon>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="justify-content-between">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon svgIcon="menu" aria-label="Side nav toggle icon"></mat-icon>
      </button>

      <div class="col-3">
        <span>Servihelper</span>
      </div>
      <div class="col-9">
        <div class="row justify-content-end align-items-center">
          <div class="col-auto">
            <mat-form-field>
              <mat-select
                [value]="(config$ | async).lang"
                (selectionChange)="updateLang($event)"
              >
                <mat-option *ngFor="let lang of availableLangs" [value]="lang">
                  {{ t(lang) }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-auto">
            <mat-form-field>
              <mat-select
                color="primary"
                [value]="currentRoleId$ | async"
                (selectionChange)="updateRole($event)"
              >
                <mat-option [value]="administratorKey">{{
                  t("ROLE_ADMINISTRATOR")
                }}</mat-option>
                <mat-option
                  *ngFor="let role of roles$ | async"
                  [value]="role.id"
                >
                  {{ role.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-auto">
            <mat-icon
              id="avatarIconId"
              svgIcon="avatar"
              aria-label="icon"
              routerLink="role"
            ></mat-icon>
          </div>
        </div>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
