<mat-sidenav-container *transloco="let t">
  <mat-sidenav
    #drawer
    fixedInViewport
    [disableClose]="hideSidenav === false"
    [attr.role]="hideSidenav ? 'dialog' : 'navigation'"
    [mode]="hideSidenav ? 'over' : 'side'"
    [opened]="hideSidenav === false"
  >
    <mat-toolbar>
      @if (queryGithubInterval$ | async; as githubData) {
        <a href="#" (click)="openExternalServihelperRepository()">
          <div class="new-version-font-size">{{ t("NEW_VERSION_AVAILABLE") }}:</div>
          <div class="new-version-font-size">
            {{ githubData.tag_name }}
          </div>
        </a>
      }
    </mat-toolbar>
    <!-- p-0 -> mat-nav-list has padding top and a gap is visible, this padding fix removes it -->
    <mat-nav-list class="p-0">
      <mat-list-item (click)="closeDrawer(drawer)" routerLink="/">
        <div class="d-flex justify-content-between align-items-center">
          <span>{{ t("NAV_HOME") }}</span>
          <mat-icon svgIcon="download"></mat-icon>
        </div>
      </mat-list-item>
      <mat-list-item (click)="closeDrawer(drawer)" routerLink="assignType">
        <div class="d-flex justify-content-between align-items-center">
          <span class="white-space-pre-wrap">{{ t("NAV_ASSIGN_TYPE") }}</span>
          <mat-icon svgIcon="abc"></mat-icon>
        </div>
      </mat-list-item>
      <mat-list-item (click)="closeDrawer(drawer)" routerLink="room">
        <div class="d-flex justify-content-between align-items-center">
          <span>{{ t("NAV_ROOM") }}</span>
          <mat-icon svgIcon="room"></mat-icon>
        </div>
      </mat-list-item>
      <mat-list-item (click)="closeDrawer(drawer)" routerLink="note">
        <div class="d-flex justify-content-between align-items-center">
          <span>{{ t("NAV_NOTE") }}</span>
          <mat-icon svgIcon="notes"></mat-icon>
        </div>
      </mat-list-item>
      <mat-list-item (click)="closeDrawer(drawer)" routerLink="participant">
        <div class="d-flex justify-content-between align-items-center">
          <span>{{ t("NAV_PARTICIPANT") }}</span>
          <mat-icon svgIcon="participants"></mat-icon>
        </div>
      </mat-list-item>
      <mat-list-item (click)="closeDrawer(drawer)" routerLink="assignment">
        <div class="d-flex justify-content-between align-items-center">
          <span>{{ t("NAV_ASSIGNMENT") }}</span>
          <mat-icon svgIcon="assignment"></mat-icon>
        </div>
      </mat-list-item>
      <mat-list-item (click)="closeDrawer(drawer)" routerLink="selectionSheets">
        <div class="d-flex justify-content-between align-items-center">
          <span>{{ t("NAV_REPORTS") }}</span>
          <mat-icon svgIcon="lists"></mat-icon>
        </div>
      </mat-list-item>
      <mat-list-item (click)="closeDrawer(drawer)" routerLink="statistics">
        <div class="d-flex justify-content-between align-items-center">
          <span>{{ t("NAV_STATISTICS") }}</span>
          <mat-icon svgIcon="statistics"></mat-icon>
        </div>
      </mat-list-item>
      <mat-list-item (click)="closeDrawer(drawer)" routerLink="map">
        <div class="d-flex justify-content-between align-items-center">
          <span>{{ t("NAV_MAPS") }}</span>
          <mat-icon svgIcon="map"></mat-icon>
        </div>
      </mat-list-item>
      <mat-list-item (click)="closeDrawer(drawer)" routerLink="config">
        <div class="d-flex justify-content-between align-items-center">
          <span>{{ t("NAV_CONFIG") }}</span>
          <mat-icon svgIcon="config"></mat-icon>
        </div>
      </mat-list-item>
      <mat-list-item (click)="closeDrawer(drawer)" routerLink="info">
        <div class="d-flex justify-content-between align-items-center">
          <span>{{ t("NAV_INFO") }}</span>
          <mat-icon svgIcon="info" aria-label="Side nav toggle icon"></mat-icon>
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="justify-content-end">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
      >
        <mat-icon svgIcon="menu" aria-label="Side nav toggle icon"></mat-icon>
      </button>
      <div class="me-auto">
        <span>Servihelper</span>
      </div>
      @if ((online$ | async).isOnline; as isOnlineAlias) {
        @if (isOnlineAlias && (netStatusOffline$ | async)) {
          <div class="me-3">
            <mat-icon id="noWifiIcon" svgIcon="nowifi" color="warning"></mat-icon>
          </div>
        }
        @if (isOnlineAlias) {
          <div class="me-3">{{ t("ONLINE") }}</div>
        }
      }
      <div class="d-inline-block me-3">
        <mat-form-field subscriptSizing="dynamic">
          <mat-select [value]="config.lang" (selectionChange)="updateLang($event)">
            @for (lang of availableLangs; track lang) {
              <mat-option [value]="lang">
                {{ t(lang) }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="d-inline-block me-3">
        <mat-form-field subscriptSizing="dynamic">
          <mat-select
            color="primary"
            [value]="currentRoleId"
            (selectionChange)="updateRole($event)"
          >
            <mat-option [value]="administratorKey">{{ t("ROLE_ADMINISTRATOR") }}</mat-option>
            @for (role of roles; track role) {
              <mat-option [value]="role.id">
                {{ role.name }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="d-inline-block me-3">
        <mat-icon
          id="avatarIconId"
          svgIcon="avatar"
          aria-label="icon"
          routerLink="role"
        ></mat-icon>
      </div>
    </mat-toolbar>
    <div class="m-3">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
