<mat-sidenav-container *transloco="let t">
  <mat-sidenav
    #drawer
    fixedInViewport
    [attr.role]="hideSidenav ? 'dialog' : 'navigation'"
    [disableClose]="hideSidenav === false"
    [mode]="hideSidenav ? 'over' : 'side'"
    [opened]="hideSidenav === false">
    <mat-toolbar>
      @if (queryGithubInterval$ | async; as githubData) {
        <a href="#" (click)="openExternalServihelperRepository()">
          <div class="new-version-font-size">{{ t('NEW_VERSION_AVAILABLE') }}:</div>
          <div class="new-version-font-size">
            {{ githubData.tag_name }}
          </div>
        </a>
      }
    </mat-toolbar>
    <!-- p-0 -> mat-nav-list has padding top and a gap is visible, this padding fix removes it -->
    <mat-nav-list class="p-0">
      <mat-list-item routerLink="/" (click)="closeDrawer(drawer)">
        <div class="d-flex justify-content-between align-items-center">
          <span>{{ t('NAV_HOME') }}</span>
          <mat-icon svgIcon="download" />
        </div>
      </mat-list-item>
      <mat-list-item routerLink="assignType" (click)="closeDrawer(drawer)">
        <div class="d-flex justify-content-between align-items-center">
          <span class="white-space-pre-wrap">{{ t('NAV_ASSIGN_TYPE') }}</span>
          <mat-icon svgIcon="abc" />
        </div>
      </mat-list-item>
      <mat-list-item routerLink="room" (click)="closeDrawer(drawer)">
        <div class="d-flex justify-content-between align-items-center">
          <span>{{ t('NAV_ROOM') }}</span>
          <mat-icon svgIcon="room" />
        </div>
      </mat-list-item>
      <mat-list-item routerLink="note" (click)="closeDrawer(drawer)">
        <div class="d-flex justify-content-between align-items-center">
          <span>{{ t('NAV_NOTE') }}</span>
          <mat-icon svgIcon="notes" />
        </div>
      </mat-list-item>
      <mat-list-item routerLink="participant" (click)="closeDrawer(drawer)">
        <div class="d-flex justify-content-between align-items-center">
          <span>{{ t('NAV_PARTICIPANT') }}</span>
          <mat-icon svgIcon="participants" />
        </div>
      </mat-list-item>
      <mat-list-item routerLink="assignment" (click)="closeDrawer(drawer)">
        <div class="d-flex justify-content-between align-items-center">
          <span>{{ t('NAV_ASSIGNMENT') }}</span>
          <mat-icon svgIcon="assignment" />
        </div>
      </mat-list-item>
      <mat-list-item routerLink="selectionSheets" (click)="closeDrawer(drawer)">
        <div class="d-flex justify-content-between align-items-center">
          <span>{{ t('NAV_REPORTS') }}</span>
          <mat-icon svgIcon="lists" />
        </div>
      </mat-list-item>
      <mat-list-item routerLink="statistics" (click)="closeDrawer(drawer)">
        <div class="d-flex justify-content-between align-items-center">
          <span>{{ t('NAV_STATISTICS') }}</span>
          <mat-icon svgIcon="statistics" />
        </div>
      </mat-list-item>
      <mat-list-item routerLink="map" (click)="closeDrawer(drawer)">
        <div class="d-flex justify-content-between align-items-center">
          <span>{{ t('NAV_MAPS') }}</span>
          <mat-icon svgIcon="map" />
        </div>
      </mat-list-item>
      <mat-list-item routerLink="config" (click)="closeDrawer(drawer)">
        <div class="d-flex justify-content-between align-items-center">
          <span>{{ t('NAV_CONFIG') }}</span>
          <mat-icon svgIcon="config" />
        </div>
      </mat-list-item>
      <mat-list-item routerLink="info" (click)="closeDrawer(drawer)">
        <div class="d-flex justify-content-between align-items-center">
          <span>{{ t('NAV_INFO') }}</span>
          <mat-icon aria-label="Side nav toggle icon" svgIcon="info" />
        </div>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="justify-content-end" style="background-color: #8866bb">
      <button aria-label="Toggle sidenav" mat-icon-button type="button" (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon" svgIcon="menu" />
      </button>
      <div class="me-auto">
        <span class="servihelper-logo">Servihelper</span>
      </div>
      @if ((online$ | async).isOnline; as isOnlineAlias) {
        @if (isOnlineAlias && (netStatusOffline$ | async)) {
          <div class="me-3">
            <mat-icon color="warning" id="noWifiIcon" svgIcon="nowifi" />
          </div>
        }
        @if (isOnlineAlias) {
          <div class="me-3">{{ t('ONLINE') }}</div>
        }
      }
      <div class="d-inline-block me-3">
        <mat-form-field subscriptSizing="dynamic">
          <mat-select [value]="lang" (selectionChange)="updateLang($event)">
            @for (lang of availableLangs; track lang) {
              <mat-option [value]="lang">
                {{ t(lang) }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="d-inline-block me-3">
        <mat-form-field subscriptSizing="dynamic">
          <mat-select
            color="primary"
            [value]="currentRoleId"
            (selectionChange)="updateRole($event)">
            <mat-option [value]="administratorKey">{{ t('ROLE_ADMINISTRATOR') }}</mat-option>
            @for (role of roles; track role.id) {
              <mat-option [value]="role.id">
                {{ role.name }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="d-inline-block me-3">
        <mat-icon aria-label="icon" id="avatarIconId" routerLink="role" svgIcon="avatar" />
      </div>
    </mat-toolbar>
    <div class="m-3">
      <ng-content />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
