//Recomended from angular material, assignment type doesnt fit by default
mat-nav-list {
  width: 230px;
}

//no other solution is provided
mat-list-item * > mat-icon {
  height: 32px;
  width: 32px;
}

//To break words of "types of assignments" in the left side menu and fit
.white-space-pre-wrap {
  white-space: pre-wrap;
}

.new-version-font-size {
  font-size: 1rem;
}
