<form *transloco="let t" [formGroup]="form" novalidate>
  <mat-accordion [multi]="false">
    <mat-expansion-panel class="mb-2">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3 class="m-3">
            {{ t("CONFIG_ACCORDION_PUBLIC_SPEECH") }}
          </h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="d-flex align-items-center">
        <mat-icon class="me-2 pe-none" svgIcon="sheet-title"></mat-icon>
        <a
          mat-raised-button
          [disableRipple]="true"
          color="primary"
          routerLink="createPublicTheme"
          routerLinkActive="active"
        >
          {{ t("CONFIG_CREATE_PUBLIC_THEME") }}
        </a>
      </div>
      <h4 class="me-2">{{ t("CONFIG_AVAILABLE_THEMES") }}</h4>
      <mat-form-field>
        <mat-label>{{ t("PLACEHOLDER_NAME") }}</mat-label>
        <mat-select
          #publicThemeSelect
          formControlName="assignmentHeaderTitle"
          required
          [disableRipple]="true"
        >
          <mat-select-trigger *ngIf="publicThemeSelect.value">
            {{ (publicThemeSelect.value | publicThemePipe)?.name }}
          </mat-select-trigger>
          <mat-option *ngFor="let theme of publicThemes" [value]="theme.id">
            <div class="d-flex align-items-center justify-content-evenly">
              <mat-icon
                class="me-4"
                (click)="stopPropagation($event)"
                [routerLink]="['updatePublicTheme', theme.id]"
                routerLinkActive="active"
                svgIcon="edit"
                aria-label="Side nav toggle icon"
              ></mat-icon>
              <mat-icon
                class="me-4"
                (click)="stopPropagation($event)"
                [routerLink]="['deletePublicTheme', theme.id]"
                routerLinkActive="active"
                svgIcon="garbage"
                aria-label="Side nav toggle icon"
              ></mat-icon>
              <div>{{ t.name }}</div>
            </div>
          </mat-option>
        </mat-select>
        <mat-error *ngIf="!publicThemes.length">{{
          t("CONFIG_ERROR_NO_AVAILABLE_TITLES")
        }}</mat-error>
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel class="mb-2">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3 class="m-3">
            {{ t("CONFIG_ACCORDION_SHEET_TITLE") }}
          </h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="d-flex align-items-center">
        <mat-icon class="me-2 pe-none" svgIcon="sheet-title"></mat-icon>
        <a
          mat-raised-button
          [disableRipple]="true"
          color="primary"
          routerLink="createTitle"
          routerLinkActive="active"
        >
          {{ t("CONFIG_CREATE_TITLE") }}
        </a>
      </div>
      <h4 class="me-2">{{ t("CONFIG_ASSIGNMENT_TITLE") }}</h4>
      <mat-form-field>
        <mat-label>{{ t("PLACEHOLDER_NAME") }}</mat-label>
        <mat-select
          #titleSelect
          formControlName="assignmentHeaderTitle"
          required
          [disableRipple]="true"
        >
          <mat-select-trigger *ngIf="titleSelect.value">
            {{ (titleSelect.value | sheetTitlePipe)?.name }}
          </mat-select-trigger>
          <mat-option *ngFor="let t of titles" [value]="t.id">
            <div class="d-flex align-items-center justify-content-evenly">
              <mat-icon
                class="me-4"
                (click)="stopPropagation($event)"
                [routerLink]="['updateTitle', t.id]"
                routerLinkActive="active"
                svgIcon="edit"
                aria-label="Side nav toggle icon"
              ></mat-icon>
              <mat-icon
                class="me-4"
                (click)="stopPropagation($event)"
                [routerLink]="['deleteTitle', t.id]"
                routerLinkActive="active"
                svgIcon="garbage"
                aria-label="Side nav toggle icon"
              ></mat-icon>
              <div>{{ t.name }}</div>
            </div>
          </mat-option>
        </mat-select>
        <mat-error *ngIf="!titles.length">{{
          t("CONFIG_ERROR_NO_AVAILABLE_TITLES")
        }}</mat-error>
      </mat-form-field>
      <h4>{{ t("CONFIG_ASSIGNMENT_PRINCIPAL_TITLE") }}</h4>
      <mat-form-field>
        <mat-label>{{ t("PLACEHOLDER_NAME") }}</mat-label>
        <input matInput formControlName="assignmentPrincipalTitle" />
      </mat-form-field>
      <h4>{{ t("CONFIG_ASSIGNMENT_ASSISTANT_TITLE") }}</h4>
      <mat-form-field>
        <mat-label>{{ t("PLACEHOLDER_NAME") }}</mat-label>
        <input matInput formControlName="assignmentAssistantTitle" />
      </mat-form-field>
      <h4>{{ t("CONFIG_ASSIGNMENT_DATE_TITLE") }}</h4>
      <mat-form-field>
        <mat-label>{{ t("PLACEHOLDER_NAME") }}</mat-label>
        <input matInput formControlName="assignmentDateTitle" />
      </mat-form-field>
      <h4>{{ t("CONFIG_ASSIGNMENT_ASSIGNTYPE_TITLE") }}</h4>
      <mat-form-field>
        <mat-label>{{ t("PLACEHOLDER_NAME") }}</mat-label>
        <input matInput formControlName="assignmentAssignTypeTitle" />
      </mat-form-field>
      <h4>{{ t("CONFIG_ASSIGNMENT_THEME_TITLE") }}</h4>
      <mat-form-field>
        <mat-label>{{ t("PLACEHOLDER_NAME") }}</mat-label>
        <input matInput formControlName="assignmentThemeTitle" />
      </mat-form-field>
      <h4>{{ t("CONFIG_ASSIGNMENT_ROOM_TITLE") }}</h4>
      <mat-form-field>
        <mat-label>{{ t("PLACEHOLDER_NAME") }}</mat-label>
        <input matInput formControlName="assignmentRoomTitle" />
      </mat-form-field>
      <h4>{{ t("CONFIG_ASSIGNMENT_NOTE_TITLE") }}</h4>
      <mat-form-field>
        <mat-label>{{ t("PLACEHOLDER_NAME") }}</mat-label>
        <input matInput formControlName="assignmentNoteTitle" />
      </mat-form-field>
      <h4>{{ t("CONFIG_DEFAULT_FOOTER_NOTE") }}</h4>
      <mat-form-field>
        <mat-select formControlName="defaultFooterNoteId" required>
          <mat-option [value]="undefined"> </mat-option>
          <mat-option *ngFor="let note of notes" [value]="note.id">
            {{ note.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel class="mb-2">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h3 class="m-3">
            {{ t("CONFIG_ACCORDION_REPORT_TITLE") }}
          </h3>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <h4>{{ t("CONFIG_REPORT_TITLE") }}</h4>
      <mat-form-field>
        <mat-label>{{ t("PLACEHOLDER_NAME") }}</mat-label>
        <input matInput formControlName="reportTitle" />
      </mat-form-field>
      <h4>{{ t("CONFIG_DEFAULT_WEEKDAY_BEGINS") }}</h4>
      <mat-form-field>
        <mat-select formControlName="defaultWeekDayBegins" required>
          <mat-option *ngFor="let day of weekDayBegins" [value]="day.value">
            {{ day.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <h4>{{ t("CONFIG_DEFAULT_REPORT_DATE_FORMAT") }}</h4>
      <mat-form-field>
        <mat-select formControlName="defaultReportDateFormat" required>
          <mat-option *ngFor="let df of translocoDateFormats" [value]="df">
            {{ df }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <h4>{{ t("CONFIG_DEFAULT_REPORT_DATE_COLOR") }}</h4>
      <mat-form-field>
        <mat-label>{{ t("PLACEHOLDER_REPORT_DATE_COLOR") }}</mat-label>
        <input type="color" matInput formControlName="defaultReportDateColor" />
      </mat-form-field>

      <h4>{{ t("CONFIG_DEFAULT_FONT_SIZE") }}</h4>
      <mat-form-field>
        <input
          matInput
          type="number"
          formControlName="defaultReportFontSize"
          placeholder="16"
        />
      </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel class="mb-2 hover-lightcoral">
      <mat-expansion-panel-header tabIndex="3" class="bg-color-lightcoral">
        <mat-panel-title>
          <h3 class="m-3">
            {{ t("CONFIG_RESTART_LABEL") }}
          </h3>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <button
        mat-raised-button
        type="button"
        color="warn"
        (click)="confirmDelete = !confirmDelete"
      >
        {{ t("CONFIG_RESET_ALL") }}
      </button>
      <button
        *ngIf="confirmDelete"
        class="ms-2"
        mat-raised-button
        type="button"
        color="warn"
        (click)="eraseAllData()"
      >
        {{ t("CONFIG_RESET_ALL_CONFIRM") }}
      </button>
    </mat-expansion-panel>
  </mat-accordion>
</form>
