.explanation {
  font-size: 14px;
}

.green-msg {
  background-color: white;
  border: 2px solid lightgreen;
  border-radius: 5px;
  padding: 5px;
}

.light-red-bg {
  background-color: rgb(240, 179, 179);
}

.text-align-end {
  text-align: end;
  align-self: end;
}

mat-icon {
  height: 28px;
  width: 28px;
}

/* Rounded border */
hr.rounded {
  border-top: 12px solid #bbb;
  border-radius: 7px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.custom-file-upload-success {
  border: 1px solid #ccc;
  background-color: lightgreen;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
