@import "sass/fonts";
@import "sass/bootstrap-grid";
@import "sass/mat_mixins";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Noto Sans", sans-serif;
}
p {
  margin: 0;
}

#tableDiv {
  width: -webkit-fill-available;
  margin: 1rem;
}
table {
  width: 100%;
}

tr {
  &:hover {
    background-color: whitesmoke;
  }
}

mat-paginator {
  margin: 1rem;
}

form {
  margin: 1rem;
}

.mat-card-content {
  font-size: inherit;
}

.mat-calendar-table-header th {
  font-size: 14px;
}

.mat-calendar-body-cell {
  font-size: 16px;
}
.mat-header-cell {
  font-size: inherit;
}

.mat-cell,
.mat-footer-cell {
  font-size: inherit;
}

.mat-icon {
  cursor: pointer;
  &:hover {
    background-color: oldlace;
  }
}

.mat-form-field {
  line-height: inherit;
}

.full-width {
  width: 100%;
}

.app-align-items-center {
  align-items: center;
}

.bg-color-white {
  background-color: white;
}

.bg-color-lightgray {
  background-color: lightgray;
}

.bg-color-lightskyblue {
  background-color: lightskyblue;
}

.bg-color-lightyellow {
  background-color: lightyellow;
}

.cp-ok-btn {
  background-color: #673ab7; //primary
  color: white;
  padding: 8px;
}

.white-base-background {
  margin: 1rem;
  background-color: white;
}

.mat-option.no-hover.mat-active {
  background: inherit;
  color: inherit;

  &.bg-color-lightyellow {
    background-color: lightyellow;
  }
}

.mat-option.no-hover {
  &:hover {
    border: 1px solid lightgray;
    background: inherit;
    color: inherit;
  }
  &.bg-color-lightyellow {
    &:hover {
      background-color: lightyellow;
    }
  }
}

.bold {
  font-weight: 600;
}
