@import "sass/fonts";
@import "sass/bootstrap-grid";
@import "sass/mat_mixins";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

#tableDiv {
  width: -webkit-fill-available;
  margin: 1rem;
}
table {
  width: 100%;
}

tr {
  &:hover {
    background-color: whitesmoke;
  }
}

mat-paginator {
  margin: 1rem;
}

form {
  margin: 1rem;
}

.mat-card-content {
  font-size: inherit;
}

.mat-calendar-table-header th {
  font-size: 14px;
}

.mat-calendar-body-cell {
  font-size: 16px;
}
.mat-header-cell {
  font-size: inherit;
}

.mat-cell,
.mat-footer-cell {
  font-size: inherit;
}

.mat-icon {
  cursor: pointer;
  &:hover {
    background-color: oldlace;
  }
}

.mat-form-field {
  line-height: inherit;
}

.full-width {
  width: 100%;
}

.bg-color-lightyellow {
  background-color: lightyellow;
}

.white-base-background {
  margin: 1rem;
  background-color: white;
}

.bold {
  font-weight: 600;
}

.double-font {
  font-size: 24px;
}
