@import "sass/fonts";
@import "sass/bootstrap-grid";
@import "sass/mat_mixins";

//css guideline:
//grid margins top and bot are at row level, grid margins left and right are at col level
//elements can have margins if necessary

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Noto Sans", "Noto Sans JP", "Noto Sans KR", "Noto Sans SC",
    sans-serif;
}

p {
  margin: 0;
}

tr {
  &:hover {
    background-color: whitesmoke;
  }
}

//all form fields expand up to col
mat-form-field {
  width: 100%;
}

.app-align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}
.bg-color-white {
  background-color: white;
}

.bg-color-lightgray {
  background-color: lightgray;
}

.bg-color-lightskyblue {
  background-color: lightskyblue;
}

.bg-color-lightyellow {
  background-color: lightyellow;
}

.bg-color-lightcoral {
  background-color: lightcoral;
}

.cp-ok-btn {
  background-color: #673ab7; //primary
  color: white;
  padding: 8px;
}

.white-base-background {
  background-color: white;
}

//ToDo: try to remove this override
.mat-mdc-option.no-hover.mat-active {
  background: inherit;
  color: inherit;

  &.bg-color-lightyellow {
    background-color: lightyellow;
  }
}

.mat-mdc-option.no-hover {
  &:hover {
    border: 1px solid lightgray;
    background: inherit;
    color: inherit;
  }
  &.bg-color-lightyellow {
    &:hover {
      background-color: lightyellow;
    }
  }
}

.bold {
  font-weight: 600;
}
