@if (participants.length) {
  <ng-container *transloco="let t">
    <form novalidate [formGroup]="searchForm">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>
            {{ t('SEARCH_PARTICIPANT_TITLE') }}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="row g-0">
            <div class="col">
              <mat-form-field>
                <mat-label>{{ t('SEARCH_PARTICIPANT') }}</mat-label>
                <mat-select formControlName="participant" required>
                  @for (p of participants; track p) {
                    <mat-option [value]="p">
                      {{ p.name }}
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          @if (results.length) {
            <div class="row">
              <div class="col">
                {{ t('SEARCH_ISPRINCIPAL') }}
              </div>
              <div class="col">
                {{ t('SEARCH_DATE') }}
              </div>
              <div class="col">
                {{ t('SEARCH_ASSIGNTYPE') }}
              </div>
              <div class="col">
                {{ t('SEARCH_ROOM') }}
              </div>
            </div>
          }
          <hr />
          @for (r of results; track r) {
            <div class="row my-2 g-0">
              <div class="col">
                {{ t(r.isPrincipalResult) }}
              </div>
              <div class="col">
                {{ r.date | translocoDate: { dateStyle: 'long' } }}
              </div>
              <div class="col">
                {{ r.assignTypeName }}
              </div>
              <div class="col">
                {{ r.roomName }}
              </div>
            </div>
          }
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button routerLink="../assignment" type="button">
            {{ t('BUTTON_CANCEL') }}
          </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </ng-container>
}
