<span *transloco="let t">
  <a
    mat-raised-button
    color="primary"
    class="mb-3"
    routerLink="create"
    routerLinkActive="active"
    >{{ t("TERRITORY_BUTTON_CREATE_TITLE") }}</a
  >
</span>
<ng-container *ngFor="let tg of territoryGroups">
  <div class="mb-2">
    <mat-accordion *transloco="let t">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h3 class="d-flex">
              <div
                class="me-3"
                [ngStyle]="{ width: '25px', height: '25px', 'background-color': tg.color }"
              ></div>
              <span>{{ tg.name }}</span>
            </h3>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template #noCreatedTerritoryTpl>
          <div>{{ t("TERRITORY_NO_TERRITORY_PLACEHOLDER") }}</div>
        </ng-template>
        <div *ngIf="maps.length; else noCreatedTerritoryTpl" class="grid">
          <div class="grid-header-item fw-bold">
            {{ t("TERRITORY_TABLE_HEADER_NAME") }}
          </div>
          <div class="grid-header-item fw-bold">
            {{ t("TERRITORY_TABLE_HEADER_ASSIGN_OR_EDIT") }}
          </div>
          <div class="grid-header-item fw-bold">
            {{ t("TERRITORY_TABLE_HEADER_RETURN") }}
          </div>
          <div class="grid-header-item fw-bold">
            {{ t("TERRITORY_TABLE_HEADER_DELETE") }}
          </div>
          <ng-container *ngFor="let m of maps">
            <ng-container *ngIf="m.groups.includes(tg.id)">
              <div class="grid-row">
                <div class="grid-item d-flex align-items-center">
                  {{ m.name }} -
                  {{
                    m.returnedDates.length !== m.participants.length
                      ? (m.participants?.at(-1) | participantPipe)?.name
                      : ""
                  }}
                </div>
                <div class="grid-item d-flex align-items-center">
                  <mat-icon
                    [routerLink]="['update', m.id]"
                    routerLinkActive="active"
                    svgIcon="edit"
                    aria-label="Side nav toggle icon"
                  ></mat-icon>
                </div>
                <div class="grid-item d-flex align-items-center">
                  <mat-icon
                    *ngIf="m.participants.length > m.returnedDates.length; else returnedTpl"
                    [routerLink]="['return', m.id]"
                    routerLinkActive="active"
                    svgIcon="return"
                    aria-label="Side nav toggle icon"
                  ></mat-icon>
                  <ng-template #returnedTpl>{{
                    m.participants.length === 0 && m.returnedDates.length === 0
                      ? t("TERRITORY_TABLE_NEVER_ASSIGNED")
                      : t("TERRITORY_TABLE_RETURNED")
                  }}</ng-template>
                </div>
                <div class="grid-item d-flex align-items-center">
                  <mat-icon
                    [routerLink]="['delete', m.id]"
                    routerLinkActive="active"
                    svgIcon="garbage"
                    aria-label="Side nav toggle icon"
                  ></mat-icon>
                </div>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</ng-container>
