input[type="file"] {
  display: none;
}

.custom-file-upload {
  font-size: 14px;
  color: #8866bb;
  letter-spacing: 0.5px;
  background-color: white; //material accent
  border-radius: 60px;
  display: inline-block;
  padding: 8px 14px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.5);

  cursor: pointer;
  &:hover {
    background-color: #f8edff;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  }
}

.custom-file-upload-success {
  border: 1px solid #ccc;
  background-color: lightgreen;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
