#uploadId {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.custom-file-upload-success {
  border: 1px solid #ccc;
  background-color: lightgreen;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
