input[type="file"] {
  display: none;
}

.custom-file-upload {
  background-color: #ffeb3b; //material accent
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  padding: 6px 12px;
  
  cursor: pointer;
  &:hover {
    background-color: #eddb36;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
  }
}

.custom-file-upload-success {
  border: 1px solid #ccc;
  background-color: lightgreen;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}
