<ng-container *transloco="let t">
  <div class="row">
    <div class="col-auto">
      @if (!isOnline) {
        <h3 class="mb-2">{{ t('CONFIG_BACKUP_LABEL_IMPORT') }}</h3>
        <div class="mb-3">
          <label
            for="zip-upload"
            [ngClass]="{
              'custom-file-upload-success': isZipLoaded,
              'custom-file-upload': !isZipLoaded
            }">
            @if (!isZipLoaded) {
              <span class="fw-bold">{{ t('CONFIG_ZIP_UPLOAD') }} ...</span>
            }
            @if (isZipLoaded) {
              <span class="ml-3 d-inline-block">{{ t('CONFIG_ZIP_UPLOADED') }}</span>
            }
          </label>
          <input id="zip-upload" type="file" [disabled]="" (change)="uploadZipFiles($event)" />
        </div>
        @if (config$ | async; as config) {
          @if (config.lastImportedDate) {
            <div class="my-3">
              {{ t('CONFIG_LAST_IMPORTED_DATE') }}:
              {{ config.lastImportedDate | translocoDate: { dateStyle: 'full' } }} -
              {{ config.lastImportedFilename }}
            </div>
          }
        }
      } @else {
        {{ t('HOME_IS_ONLINE_ACTIVATED') }}
      }
      @if (isZipLoaded) {
        <div class="pb-3">
          <p class="d-inline-block mt-3 green-msg">
            {{ t('CONFIG_BACKUP_SUCCESS_ALL_FILES') }}
          </p>
        </div>
      }
    </div>
  </div>
  <div class="row">
    <div class="col-auto">
      <h3>{{ t('CONFIG_BACKUP_LABEL_EXPORT') }}</h3>
      <button color="accent" mat-raised-button type="button" (click)="downloadFiles()">
        <span class="fw-bold">{{ t('BUTTON_DOWNLOAD') }}</span>
      </button>
      @if (config$ | async; as config) {
        @if (config.lastExportedDate) {
          <div class="my-3">
            {{ t('CONFIG_LAST_EXPORTED_DATE') }}:
            {{ config.lastExportedDate | translocoDate: { dateStyle: 'full', timeStyle: 'full' } }}
          </div>
        }
      }
    </div>
  </div>
  <div class="row">
    <div class="col-auto">
      <h3 class="mb-2" style="color: red">{{ t('CONFIG_BACKUP_S21_LABEL_IMPORT') }}</h3>
      <div class="mb-3">
        <label
          for="zip-s21-upload"
          [ngClass]="{
            'custom-file-upload-success': isS21ZipLoaded(),
            'custom-file-upload': !isS21ZipLoaded()
          }">
          @if (!isS21ZipLoaded()) {
            <span class="fw-bold">{{ t('CONFIG_ZIP_UPLOAD') }} ...</span>
          }
          @if (isS21ZipLoaded()) {
            <span class="ml-3 d-inline-block fw-bold">{{ t('CONFIG_ZIP_UPLOADED') }}</span>
          }
        </label>
        <input id="zip-s21-upload" type="file" [disabled]="" (change)="uploadZipS21Files($event)" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-auto">
      <h3 style="color: red">{{ t('CONFIG_BACKUP_S21_LABEL_EXPORT') }}</h3>
      <button color="accent" mat-raised-button type="button" (click)="downloadS21Files()">
        <span class="fw-bold"> {{ t('BUTTON_DOWNLOAD') }}</span>
      </button>
    </div>
  </div>
  @if (noteHome) {
    <div class="border mt-5" [innerHTML]="noteHome.editorHTML"></div>
  }
</ng-container>
