#actionBar {
  background-color: inherit;
}

#copiedId {
  background-color: white;
  padding: 10px;
  border: 2px solid lightgreen;
  border-radius: 5px;
}

@media print {
  body::-webkit-scrollbar {
    display: none;
  }
}
