mat-icon {
  height: 28px;
  width: 28px;

  &.reduceIconSize {
    height: 24px;
    width: 24px;
  }
}

table {
  height: 100%;
}

td,
th {
  text-align: left;
  vertical-align: top;
  padding-left: 2px;
}
