<span *transloco="let t">
  <div class="row mb-3">
    <div class="col">
      <div class="d-flex">
        <mat-icon class="me-2" svgIcon="info-blue" aria-label="icon"></mat-icon>
        <div>{{ t("STATISTICS_ROLE_TIP") }}</div>
      </div>
    </div>
  </div>
</span>
<div class="mb-2">
  @defer (when showGlobalCount; prefetch on viewport(fakeGlobalAccordion)) {
    <app-global-count [allowedAssignTypesIds]="allowedAssignTypesIds"></app-global-count>
  } @placeholder {
    <app-fake-accordion
      #fakeGlobalAccordion
      [titleKey]="'STATISTICS_COUNT_GLOBAL_TITLE'"
      (click)="showGlobalCount = true"
    ></app-fake-accordion>
  }
</div>
<div class="mb-2">
  @defer (when showTerritoryCount; prefetch on viewport(fakeTerritoryCount)) {
    <app-territory-count></app-territory-count>
  } @placeholder {
    <app-fake-accordion
      #fakeTerritoryCount
      [titleKey]="'STATISTICS_COUNT_TERRITORY_TITLE'"
      (click)="showTerritoryCount = true"
    ></app-fake-accordion>
  }
</div>
